<div id="better-u-lessons-started" class="pt-2">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'better-u-logo.png', class: 'align-middle', alt: 'Better U Logo', style: 'width: 4rem; height: auto;' %></span>
      <span class="pb-2 lead">
        <% if user_has_completed_curriculum?(@current_user, LearningModules::BETTER_U) %>
          <%= t("learn_online.completed_html", curriculum: LearningModules.module_name(:BETTER_U).titleize, href: link_to("#{t('learn_online.print_your_certificate')}.", show_certificate_path('BETTER_U'), data: { lity: '' })).html_safe %>
        <% else %>
          <% if(!@current_user.course_enrollments.better_u.started.empty?) %>
            <%=t("dashboard.my_courses.started.continue_learning")%>
          <% else %>
            <%=t("dashboard.my_courses.started.start_learning")%>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="pt-3 better-u-started-grid">

    <% #if(!user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK)) %>
      <% LearningModules::BETTER_U.each do |lesson| %>
        <%= render partial: "include_learning_module_media_object", locals: {lesson: lesson} %>
      <% end %>
    <% #end %>

  </div>
</div>