<div id="food-etalk-lessons-started">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'food-etalk-logo-med.png', class: 'align-middle', alt: 'Food eTalk Logo', style: 'width: 6rem; height: auto;' %></span>
      <span class="pb-2 lead">
        <% if user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK) %>
          <%= t("learn_online.completed_html", curriculum: LearningModules.module_name(:FOOD_ETALK).titleize, href: link_to(t("learn_online.print_your_certificate"), show_certificate_path('FOOD_ETALK'), data: { lity: '' })).html_safe %>
          <%= t("learn_online.extenders_prompt", href2: link_to(t("navigation.uga_extension_office"), "http://extension.uga.edu/county-offices.html#top", target: '_blank')).html_safe %>
        <% else %>
          <% if(!@current_user.course_enrollments.food_etalk.started.empty?) %>
            <%=t("dashboard.my_courses.started.continue_learning")%>
          <% else %>
            <%=t("dashboard.my_courses.started.start_learning")%>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="pt-3 food-etalk-started-grid">

    <% #if(!user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK)) %>
      <% LearningModules::FOOD_ETALK.each do |lesson| %>
        <%= render partial: "include_learning_module_media_object", locals: {lesson: lesson} %>
      <% end %>
    <% #end %>

  </div>
</div>