<div id="food-etalk-lessons-started">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'food-etalk-logo-med.png', class: 'align-middle', alt: 'Food eTalk Logo', style: 'width: 6rem; height: auto;' %></span>
      <span class="pb-2 lead">
        <% if user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK) %>

          <%= t("learn_online.food_etalk.completed_html", href: link_to(t("learn_online.food_etalk.print_your_certificate"), show_certificate_path('FOOD_ETALK'), data: { lity: '' }), href2: link_to( t("navigation.uga_extension_office"), "http://extension.uga.edu/county-offices.html#top", target: '_blank' ) ) %>

        <% else %>
          <% if(!@current_user.course_enrollments.food_etalk.started.empty?) %>
            <%=t("dashboard.my_courses.started.continue_learning")%>
          <% else %>
            <%=t("dashboard.my_courses.started.start_learning")%>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="pt-3 food-etalk-started-grid">
    <% if(!@current_user.course_enrollments.food_etalk.started.empty?) %>
      <% @current_user.course_enrollments.food_etalk.started.each do |c| %>
        <% if LearningModules::find_module(c.name) %>
          <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: LearningModules::find_module(c.name), my_css: 'modules-grid'} %>
        <% end %>
      <% end %>
    <% elsif (find_next_lesson(@current_user, LearningModules::FOOD_ETALK)) %>
      <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: LearningModules::find_module(find_next_lesson(@current_user, LearningModules::FOOD_ETALK)), my_css: 'modules-grid'} %>
    <% end %>
  </div>
</div>