<div id="food-etalk-lessons-started">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'food-etalk-logo-med.png', class: 'align-middle', alt: 'Food eTalk Logo', style: 'width: 6rem; height: auto;' %></span>
      <span class="pb-2 lead">
        <% if user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK) %>
          Way to go! You have completed Food eTalk.

          When you are ready, <%= link_to('print your certificate', show_certificate_path('FOOD_ETALK'), data: { lity: '' }) %>
          and call your nearest <%= link_to "UGA Extension Office", "http://extension.uga.edu/county-offices.html#top", data: { lity: '' } %> to schedule an appointment to receive your complimentary bag of Food Talk goodies.
        <% else %>
          <% if(!@current_user.course_enrollments.food_etalk.started.empty?) %>
            Continue learning by clicking on the lesson's title or image.
          <% else %>
            You are not currently enrolled in any Food eTalk lessons.  Why not start one now?  Simply click on the below lesson's title or image to begin.
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="pt-3 food-etalk-started-grid">
    <% if(!@current_user.course_enrollments.food_etalk.started.empty?) %>
      <% @current_user.course_enrollments.food_etalk.started.each do |c| %>
        <% if LearningModules::find_module(c.name) %>
          <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: LearningModules::find_module(c.name), my_css: 'modules-grid'} %>
        <% end %>
      <% end %>
    <% else %>
      <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: LearningModules::find_module(find_next_lesson(LearningModules::FOOD_ETALK)), my_css: 'modules-grid'} %>
    <% end %>
  </div>
</div>