<% content_for :js do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
      function addMouseEvents(chart, divId) {
          google.visualization.events.addListener(chart.getChart(), 'onmouseover', function () {
              //console.log("processing: " + divId);
              $(divId).css('cursor', 'pointer');
          });
          google.visualization.events.addListener(chart.getChart(), 'onmouseout', function () {
              //console.log("processing: " + divId);
              $(divId).css('cursor', 'default');
          });
      }
  </script>

  <%= render partial: 'dashboard/charts/user_charts' %>
  <%= render partial: 'dashboard/charts/food_etalk_charts' %>
  <%= render partial: 'dashboard/charts/better_u_charts' %>

<% end %>

<nav>
  <div id="stats-nav-tab" class="nav nav-pills mt-0 pt-0" role="tablist">

    <a id="user-stats-tab" class="nav-item nav-link <%= "active" if (@current_tab == "user-stats-tab") %>" data-toggle="tab" href="#user-stats" role="tab" aria-controls="user-stats" aria-selected="true">User Stats</a>
    <a id="food-etalk-stats-tab" class="nav-item nav-link <%= "active" if (@current_tab == "food-etalk-stats-tab") %>" data-toggle="tab" href="#food-etalk-stats" role="tab" aria-controls="food-etalk-stats" aria-selected="false">Food eTalk Stats</a>
    <a id="better-u-stats-tab" class="nav-item nav-link <%= "active" if (@current_tab == "better-u-stats-tab") %>" data-toggle="tab" href="#better-u-stats" role="tab" aria-controls="better-u-stats" aria-selected="false">Better U Stats</a>

    <span class="mx-auto">
      <%= form_with id: "stats-date-range", url: show_dashboard_path, class: "form-inline", local: true, method: :get do |form| %>
        <%= form.hidden_field "stats-current-tab", id: "stats-current-tab", value: @current_tab %>
        <div class="form-row">
          <div class="col-auto">
            <%= form.label :start_date, class: "col-form-label-sm d-inline" %>
            <%= select_date @start_date, prefix: :start_date, class: 'form-control form-control-sm' %>
          </div>
          <div class="col-auto">
            <%= form.label :end_date, class: "col-form-label-sm d-inline" %>
            <%= select_date @end_date, prefix: :end_date, class: 'form-control form-control-sm' %>
          </div>
        </div>
        <div class="actions pt-2">
          <%= form.button "Apply", type: :submit, class: "btn btn-sm btn-primary ml-2" %>
        </div>
      <% end %>
    </span>

  </div>
</nav>

<div id="nav-tabContent" class="tab-content mt-2">

  <%= render partial: 'dashboard/tabs/user_info_tab' %>

  <%= render partial: 'dashboard/tabs/food_etalk_tab' %>

  <%= render partial: 'dashboard/tabs/better_u_tab' %>

</div>