<div id="dashboard-content">

  <nav>
    <div class="nav nav-tabs justify-content-end pt-1" id="dashboard-nav" role="tablist">

    <% if @current_user.is_admin? %>
      <a id="nav-admin-tab" class="nav-item nav-link active" data-toggle="tab" href="#nav-admin" role="tab" aria-controls="nav-admin" aria-selected="true"><%= t("dashboard.admin.label") %></a>
    <% end %>

    <% if @current_user.is_eligible? %>
      <a id="nav-my-activity-tab" class="nav-item nav-link <%= "active" if !@current_user.is_admin? %>" data-toggle="tab" href="#nav-my-activity" role="tab" aria-controls="nav-my-activity" aria-selected="<%= !@current_user.is_admin? ? "true" : "false" %>"><%= t("dashboard.my_courses.label") %></a>
    <% end %>

      <a id="nav-personal-info-tab" class="nav-item nav-link <%= "active" if(!@current_user.valid? || (!@current_user.is_admin? && !@current_user.is_eligible?))%>" data-toggle="tab" href="#nav-personal-info" role="tab" aria-controls="nav-personal-info" aria-selected="false"><%= t("dashboard.my_info.label") %></a>

    <% if(false && !@current_user.new_record?) %>
      <a id="nav-mail-subscriptions-tab" class="nav-item nav-link" data-toggle="tab" href="#nav-mail-subscriptions" role="tab" aria-controls="nav-mail-subscriptions" aria-selected="false"><%= t("dashboard.newsletters.label") %></a>
    <% end %>

    </div>
  </nav>


  <% if @current_user.is_admin? %>
  <div id="loader" style="visibility: visible;"></div>
  <% end %>

  <div id="dashboard-tab-content" style="display: block;" class="tab-content">

    <% if @current_user.is_admin? %>
    <div class="tab-pane fade show active" id="nav-admin" role="tabpanel" aria-labelledby="nav-admin-tab">
      <%= render :partial => "dashboard/admin" %>
    </div>
    <% end %>

    <% if @current_user.is_eligible? %>
    <div class="tab-pane fade <%= "show active" if !@current_user.is_admin? %>" id="nav-my-activity" role="tabpanel" aria-labelledby="nav-my-activity-tab">
      <%= render :partial => "dashboard/my_activity" %>
    </div>
    <% end %>

    <div class="tab-pane fade <%= "show active" if(!@current_user.valid? || (!@current_user.is_admin? && !@current_user.is_eligible?))%>" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-personal-info-tab">
      <%= render :partial => "dashboard/personal_info" %>
    </div>

    <% if(false && !@current_user.new_record?) %>
    <div class="tab-pane fade p-4" id="nav-mail-subscriptions" role="tabpanel" aria-labelledby="nav-mail-subscriptions-tab">
      <%= render :partial => "dashboard/mailchimp_subscriptions" %>
    </div>
    <% end %>

  </div>

</div>