<div class="mx-auto card-deckz recipes-deck w-100">
  <div class="grid">
    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            3 healthy chicken recipes you shouldn't miss
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/lemons-2252560_1280.jpg?itok=nBvz0kgb", class: 'card-img-top img-fluid', alt: "Blog Cap"), "#", data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                Looking for healthy chicken recipes? We’ve got you covered!
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog1_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            What is Whole30?
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/25860473810_e738ab1568_z.jpg?itok=h54YS0ND", class: 'card-img-top img-fluid', alt: "Blog Cap"), "#", data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                Whole30 is a type of diet described as a temporary nutrition “reset.” What foods are restrictied, and is it the right diet for you?
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog2_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            What is E. Coli?
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/e._coli_bacteria_16578744517.jpg?itok=omkwT5yg", class: 'card-img-top img-fluid', alt: "Blog Cap"), "#", data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                The United States has had a recent E. Coli outbreak that infected over 20 people across 15 states. What exactly is E. coli?
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog3_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

  </div>
</div>