<div class="mx-auto card-deckz recipes-deck w-100">
  <div class="grid">
    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            6 Healthful Resolutions
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/new-years-eve-114011_640.jpg?itok=xYHGkFBt", class: 'card-img-top img-fluid', alt: "Blog Cap"), demo_blog4_path, data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                It’s that time of the year again! New Year’s resolutions are on everyone’s mind. This is when people promise to be healthier versions of themselves by doing things like joining a gym or going on a diet. Sometimes people get carried away with their goals, making it hard to keep them as the weeks go on. Here are 6 simple goals to make for the new year to help you reach your healthiest self!
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog4_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            Meal Prepping for the Busy
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/29400689073_c8f318691d_z.jpg?itok=j4sUizTB", class: 'card-img-top img-fluid', alt: "Blog Cap"), demo_blog5_path, data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                It’s difficult to make home cooked meals during the busy work week. When the end of a long day comes around we sometimes find ourselves opting for fast food or snacking on what’s in the cupboard. Preparing meals ahead of time can help reduce stress during the work week and ensure a healthy, hearty meal for you and your family.
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog5_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class= "card recipe-card" style="">
        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            Is Gluten-free Healthier?
          </h4>
        </div>
        <%= link_to image_tag("https://foodtalk.org/sites/default/files/styles/square_thumbnail/public/blogposts/oat-1391682_640.jpg?itok=0YygOm49", class: 'card-img-top img-fluid', alt: "Blog Cap"), demo_blog6_path, data: { lity: '' } %>
        <div class="card-body p-2 m-0">
          <div class="card-text text-justify mb-1">
              <span class="d-inline">
                In the past few years there has been a huge boom in interest in gluten-free diets. What exactly is gluten though, and is it healthier? Do you need to be on a gluten-free diet? Read on for your answers.
              </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to("Read More", demo_blog6_path, data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>

  </div>
</div>