<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          3 healthy chicken recipes you shouldn't miss
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

    </div>
  </div>

  <div class="font-italic content-section-copy-dark-med pt-4">
    Looking for healthy chicken recipes? We’ve got you covered!
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>

  <div class="row no-gutters w-100 d-flex justify-content-center mb-5">
    <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/screen_shot_2018-02-19_at_6.16.42_pm.png" %>
    <div class="content-section-copy-dark-med mt-4">
      This is an easy comfort food recipe for those cold winter nights. It’s low in sodium, provides plenty of protein, and is a good source of potassium, which can help reduce blood pressure.
    </div>
    <div class="blockquote-footer"><%= link_to "Original Source Photo", "https://pixabay.com/en/soup-greens-celery-vegetables-food-869075/", target: "_blank"%></div>
  </div>

  <div class="row no-gutters w-100 d-flex justify-content-center mb-5">
    <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/screen_shot_2018-02-19_at_6.16.50_pm.png" %>
    <div class="content-section-copy-dark-med mt-4">
      Lemon juice, garlic, and herbs is an easy way to season chicken without using salt. Pair this recipe with roasted vegetables for a delicious home cooked meal!
    </div>
    <div class="blockquote-footer"><%= link_to "Original Source Photo", "https://pixabay.com/en/lemons-mediterranean-citrus-fruits-2252560/", target: "_blank"%></div>
  </div>

  <div class="row no-gutters w-100 d-flex justify-content-center mb-5">
    <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/screen_shot_2018-02-19_at_6.16.59_pm.png" %>
    <div class="content-section-copy-dark-med mt-4">
      A healthier version of a picnic favorite. Replacing half of the mayonnaise with plain non-fat Greek yogurt cuts down on the fat content. Adding red apples provides a pop of color and a nice crunch to every bite.
    </div>
    <div class="blockquote-footer"><%= link_to "Original Source Photo", "https://pixabay.com/en/apple-red-fruit-ripe-harvest-1589874/", target: "_blank"%></div>
  </div>


</div>