<script language="JavaScript">
    //necessary for https://github.com/fancyapps/fancybox/issues/1911
    $(document).off("click.fb-start", "[data-trigger]");
</script>

<div id="blogs" class="content-section2">

  <%= render partial: 'blog_header' %>

  <div class="grid">
    <%
      #TODO: consolidate me into a single view
      @blogs.each do |blog|
    %>
      <div class="no-gutters mb-4 video-card card grid-item">

        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            <%= blog["title"]["rendered"] %>
            <span>
              <a class="text-muted" href="#"><% fa_icon "share-alt" %></a>
            </span>
          </h4>
        </div>

        <% #TODO Make me better! %>
        <% if (blog["_embedded"]["wp:featuredmedia"][0]["media_details"]["sizes"]["medium"]) %>
          <%= link_to image_tag(blog["_embedded"]["wp:featuredmedia"][0]["media_details"]["sizes"]["medium"]["source_url"], class: 'card-img-top img-fluid', alt: blog["title"]["rendered"]), blog["link"], data: {"fancybox": "", "type": 'iframe'} %>
        <% end %>


        <div class="card-body p-2 m-0">

          <div class="card-text text-justify mb-1">
            <%= blog["excerpt"]["rendered"].html_safe %>
          </div>

          <div class="d-none d-md-block">
            <% if !blog["categories"].empty? %>
              <div class="card-title">Categories</div>
              <div class="card-text">
                <% blog["categories"].each do |c| %>
                  <% @categories.each do |c2| %>
                    <% if (c2["id"] == c) %>
                      <%= link_to c2["name"], blogs_index_path(category: c2["slug"]), class: 'badge badge-light ml-1', role: 'button', target: '_parent' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% glossary_terms = find_glossary_terms(blog["content"]["rendered"]) %>

            <% if !glossary_terms.empty? %>
              <div class="card-title mt-1">Glossary Terms</div>
              <div class="card-text">
                <% glossary_terms.each do |gt| %>
                  <%= link_to gt.name, 'javascript:;', class: 'badge badge-light m-0 p-0 pl-1', role: 'button', target: '_parent', "data-toggle": "popover", "data-placement": "top", "data-trigger": "focus", tabindex: "0", title: gt.name, "data-content": gt.description %>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>

        <div class="card-footer text-center">
          <%= link_to("Details", blog["link"], data: {"fancybox": "", "type": 'iframe'}, class: "btn btn-sm btn-primary") %>
        </div>

      </div>
    <%
      end
    %>
  </div>

</div>