<% cache [create_cache_key_prefix, "attend-a-class"], :expires_in => 1.day do %>
  <div id="attend-class" class="content-section2">
    <div class="row no-gutters align-items-center white-bg pb-2">
      <div class="col content-section-copy-dark-med pl-5 pr-5" style="min-width: 50%;">
        <%= image_tag("Recipes_Honeycomb_Larger.jpg", class: 'img-fluid pull-left mr-4', alt: "Food eTalk Live Classroom", style: 'max-height: 16rem; width: auto;') %>
        <div class="content-section-title align-bottom mt-2 mb-2"><%= t("attend_a_class.name") %></div>
        <div class="content-section-copy-dark text-justify"><%= t("attend_a_class.description_html") %></div>
      </div>
    </div>

    <div class="grid" style="">

      <%
        CountyAgents::COUNTIES.each do |key, values|
      %>
        <div class="grid-item">

          <div class="card attend-class-card">

            <div class="card-header">
              <div class="card-title">
                <%= values[:name] %>
              </div>
            </div>

            <div class="">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <address>
                      <%= values[:address1] %><br>
                      <% if !values[:address2].blank? %>
                        <%= values[:address2] %><br>
                      <% end %>
                      <%= values[:city] unless values[:city].blank? %> <%= values[:state] unless values[:state].blank? %> <%= values[:zip][0,5] unless values[:zip].blank? %><br>
                      <%= link_to values[:phone], "tel:#{values[:phone]}" unless values[:phone].blank? %>
                    </address>
                  </div>

                  <div class="col text-right">
                    <% if !values[:snap_ed_supervisor].blank? %>
                      <div class="lead"><%= t("attend_a_class.snap_ed_supervisor") %></div>
                      <div class="card-text">
                        <%= values[:snap_ed_supervisor][:name] unless values[:snap_ed_supervisor][:name].blank? %><br>
                        <%= mail_to values[:snap_ed_supervisor][:email] unless values[:snap_ed_supervisor][:email].blank? %>
                      </div>
                    <% end %>
                  </div>

                </div>

                <% if !values[:program_assistants].blank? %>
                  <div class="row">
                    <div class="col lead"><%= t("attend_a_class.program_assistants") %></div>
                  </div>
                  <div class="row mt-1">
                    <% values[:program_assistants].each do |pas| %>
                      <div class="col">
                        <div class="small card-text">
                          <%= pas[:name] unless pas[:name].blank? %><br>
                          <%= mail_to pas[:email] unless pas[:email].blank? %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <% if !values[:contact].blank? %>
                  <p class="lead"><%= t("attend_a_class.contact") %></p>
                  <div class="media">

                    <div class="media-body mr-4 ">
                      <div class="small card-text text-left mb-2">
                        <%= values[:contact][:name] unless values[:contact][:name].blank? %><br>
                        <%= values[:contact][:organization] unless values[:contact][:organization].blank? %><br>
                        <%= values[:contact][:position] unless values[:contact][:position].blank? %><br>
                        <%= mail_to values[:contact][:phone] unless values[:contact][:phone].blank? %><br>
                        <%= mail_to values[:contact][:email] unless values[:contact][:email].blank? %><br>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>

<% end %>