<% cache [create_cache_key_prefix, "attend-a-class"], :expires_in => 1.month do %>
<div id="attend-class" class="content-section2">
  <div class="row no-gutters align-items-center white-bg pb-2">
    <div class="col content-section-copy-dark-med pl-5 pr-5" style="min-width: 50%;">
      <%= image_tag("Recipes_Honeycomb_Larger.jpg", class: 'img-fluid pull-left mr-4', alt: "Food eTalk Live Classroom", style: 'max-height: 16rem; width: auto;') %>
      <div class="content-section-title align-bottom mt-2 mb-2"><%= t("attend_a_class.name") %></div>
      <div class="content-section-copy-dark text-justify"><%= t("attend_a_class.description_html") %></div>
    </div>
  </div>

  <div class="grid" style="margin: 0 auto;">
    <%
      CountyAgents::COUNTIES.each do |key, values|
    %>
      <div class="grid-item mb-4">

        <div class="card">

          <div class="card-title ml-3 mt-2">
            <%= values[:name] %>
          </div>
          <div class="card-body">

            <address>
              <%= values[:address1] %><br>
              <% if !values[:address2].blank? %>
                <%= values[:address2] %><br>
              <% end %>
              <%= values[:city] unless values[:city].blank? %> <%= values[:state] unless values[:state].blank? %> <%= values[:zip] unless values[:zip].blank? %><br>
              <%= link_to values[:phone], "tel:#{values[:phone]}" unless values[:phone].blank? %>
            </address>

            <% if !values[:contact].blank? %>
              <p class="lead"><%= t("attend_a_class.contact") %></p>
              <div class="media">
                <% #image_tag(values[:contact][:photo_url], class: 'rounded mr-2', alt: "#{key.capitalize} #{t('attend_a_class.snap_ed_contact')}", style: 'height: auto; width: 4rem;') %>
                <div class="media-body mr-4 ">
                  <div class="small card-text text-left mb-2">
                    <%= values[:contact][:name] unless values[:contact][:name].blank? %><br>
                    <%= values[:contact][:organization] unless values[:contact][:organization].blank? %><br>
                    <%= values[:contact][:position] unless values[:contact][:position].blank? %><br>
                    <%= mail_to values[:contact][:phone] unless values[:contact][:phone].blank? %><br>
                    <%= mail_to values[:contact][:email] unless values[:contact][:email].blank? %><br>
                  </div>
                </div>
              </div>
            <% end %>


            <% if !values[:snap_ed_supervisor].blank? %>
              <p class="lead"><%= t("attend_a_class.snap_ed_supervisor") %></p>
              <div class="media">
                <% #image_tag(values[:snap_ed_supervisor][:photo_url], class: 'rounded mr-2', alt: "#{key.capitalize} #{t('attend_a_class.snap_ed_supervisor')}", style: 'height: auto; width: 4rem;') %>
                <div class="media-body mr-4 ">
                  <div class="small card-text text-justify mb-2">
                    <%= values[:snap_ed_supervisor][:name] unless values[:snap_ed_supervisor][:name].blank? %><br>
                    <%= mail_to values[:snap_ed_supervisor][:email] unless values[:snap_ed_supervisor][:email].blank? %>
                  </div>
                </div>
              </div>
            <% end %>

            <% if !values[:program_assistants].blank? %>
              <p class="lead pt-2"><%= t("attend_a_class.program_assistants") %></p>
              <% values[:program_assistants].each do |pas| %>
                <div class="media mb-2">
                  <% #image_tag(pas[:photo_url], class: 'rounded mr-2', alt: "#{key.capitalize} #{ t('attend_a_class.snap_ed_supervisor').singularize }", style: 'height: auto; width: 4rem;') unless (pas[:photo_url].blank?)%>
                  <div class="media-body mr-4 ">
                    <div class="small card-text text-justify mb-2">
                      <%= pas[:name] unless pas[:name].blank? %><br>
                      <%= mail_to pas[:email] unless pas[:email].blank? %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
<% end %>