<div class="d-flex mx-auto justify-content-center content-section-item">
  <div class="card-deck recipes-deck">

    <% @recipes.each do |recipe| %>


        <div class="recipe-card card text-center">

          <%= link_to image_tag(recipe.image, class: 'card-img-top', alt: recipe.title), recipe_path(recipe), {"data-vbtype"=>'iframe', "data-autoplay"=>'true', "class"=>'venobox'} %>

          <div class="card-block">

            <h4 class="card-title align-items-center mt-2"><%= recipe.title %> <small class="text-muted"><a href="#"><% fa_icon "star" %></a> <a href="#"><% fa_icon "share-alt" %></a></small></h4>

            <p class="card-text"><%= recipe.description %></p>
            <p class="card-text">
              Categories:
              <small class="text-muted">
                <% recipe.recipe_categories.each do |rc| %>
                    <%= rc.name %> &nbsp;
                <% end %>
              </small>
            </p>
            <p class="card-text">
              Glossary Terms:
              <small class="text-muted">
                <% recipe.glossary_terms.each do |gt| %>
                    <a tabindex="0" class="btn btn-sm btn-secondary" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="<%= gt.name %>" data-content="<%= gt.description %>">
                      <%= gt.name %>
                    </a>
                <% end %>
              </small>
            </p>
          </div>
          <br>
          <div class="align-items-center mb-3">
            <%= link_to("Details", recipe_path(recipe), data: { vbtype: "iframe", autoplay: true }, class: "venobox btn btn-primary") %>
          </div>
        </div>

    <% end %>

  </div>
</div>