<div class= "card recipe-card" style="<%= styles %>">
  <div class="card-header">
    <h4 class="card-title text-center mt-0">
      <%= recipe.title %>

      <span>
        <% if current_user %>
        <% fav = current_user.recipes.exists?(recipe.id) %>
        <% #TODO: AJAXIFY ME!!!!! %>
        <%= link_to fa_icon(fav ? "star" : "star-o"), update_recipe_favorites_path(recipe.id), method: :update, title: "Click to mark recipe as favorite.", rel: "tooltip" %>
        <% end %>
        <a class="text-muted" href="#"><% fa_icon "share-alt" %></a>
      </span>

    </h4>
  </div>
  <%= link_to image_tag(recipe.image, class: 'card-img-top img-fluid', alt: recipe.title), recipe_path(recipe), data: { lity: '' } %>
  <div class="card-body p-2 m-0">
    <div class="card-text text-justify mb-1">

        <span class="d-inline d-lg-none">
          <%= recipe.description %>
        </span>
        <span class="d-none d-md-inline">
          <%= truncate(recipe.description, separator: ' ', omission: '... ', length: 80) { link_to("click for more", recipe_path(recipe), data: { lity: '' }, class: "small") } %>
        </span>

    </div>
    <div class="d-none d-md-block">
    <% if !recipe.categories.empty? %>
        <div class="card-title">Categories</div>
        <div class="card-text">
          <% recipe.categories.each do |c| %>
              <%= link_to c.name, recipes_path(category_id: c.id), class: 'badge badge-light ml-1', role: 'button', target: '_parent' %>
          <% end %>
        </div>
    <% end %>
    <% if !recipe.glossary_terms.empty? %>
        <div class="card-title mt-1">Glossary Terms</div>
        <div class="card-text">
          <% recipe.glossary_terms.each do |gt| %>
              <%= link_to gt.name, 'javascript:;', class: 'badge badge-light m-0 p-0 pl-1', role: 'button', target: '_parent', "data-toggle": "popover", "data-placement": "top", "data-trigger": "focus",  tabindex: "0", title: gt.name, "data-content": gt.description %>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to("Details", recipe_path(recipe), data: { lity: '' }, class: "btn btn-sm btn-primary") %>
  </div>

</div>