<div id="recipe" class="content content-section3 row pl-4 pr-4">
  <div class="row pt-4">

    <div class="col">
      <div class="recipe-card card text-center align-items-center float-right clearfix" style="max-width: 480px;">
        <div class="card-header">
          <h3 class="card-title align-items-center">Summer Corn Salad <small class="text-muted"><a href="#"><%= fa_icon "star" %></a> <a href="#"><%= fa_icon "share-alt" %></a></small></h3>
        </div>
        <%= image_tag 'corn-salad.png', class: 'img-fluid', style: 'max-width: 480px;', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <p class="card-text">Category <small class="text-muted"><a href="#">Less than $5 meals</a></small></p>
          <p class="card-text">
          <h4>Description</h4>
          Farmers Market Recipe: Summer Corn Salad
          </p>
        </div>
      </div>
    </div>

    <div class="col align-items-center ml-5 mr-5">
      <span class="content-section-title">Summary</span>
      <table class="table table-sm table-bordered content-section-copy-light-med">
        <tbody>
        <tr>
          <th scope="row">Yield</th>
          <td>4 Servings</td>
        </tr>

        <tr>
          <th scope="row">Source</th>
          <td><a href="https://foodtalk.org/content/food-talk-farmers-market-authors">Click Here</a></td>
        </tr>

        <tr>
          <th scope="row">Prep Time</th>
          <td>5 Minutes</td>
        </tr>

        <tr>
          <th scope="row">Cooking Time</th>
          <td>9 Minutes</td>
        </tr>

        <tr>
          <th scope="row">Total Time</th>
          <td>14 Minutes</td>
        </tr>

        </tbody>
      </table>

      <span class="content-section-title">Instructions</span>
      <p class="text-justify content-section-copy-light-med">In a small bowl, whisk 4 teaspoons oil, lime juice, salt and pepper sauce; set aside. In a large skillet, cook and stir corn in remaining oil over medium-high heat until tender. Transfer to a salad bowl; cool slightly. Add the tomatoes, cucumber, onion and basil. Drizzle with dressing and toss to coat. Let stand for 10 minutes before serving or refrigerate until chilled. Sprinkle with cheese just before serving.</p>


    </div>
  </div>

  <div class="row pl-4 pr-4 pt-4" style="width: 100%;">

    <div class="col">
      <span class="content-section-title">Ingredients</span>
      <table class="table table-sm content-section-copy-light-med">

        <tbody class="justify-content-center">
        <tr>
          <th scope="row">5</th>
          <td>Teaspoons</td>
          <td>Olive Oil, Divided</td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Tablespoon</td>
          <td>Lime Juice</td>
        </tr>

        <tr>
          <th scope="row">1/4</th>
          <td>Teaspoon</td>
          <td>Pepper Sauce</td>
        </tr>

        <tr>
          <th scope="row">1 1/2</th>
          <td>Cup</td>
          <td>Fresh or Thawed Frozen Corn</td>
        </tr>

        <tr>
          <th scope="row">1 1/2</th>
          <td>Cup</td>
          <td>Cherry Tomatoes (halved)</td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Cup</td>
          <td>Cucumber</td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Cup</td>
          <td>Red Onion</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Tablespoons</td>
          <td>Dried Basil</td>
        </tr>

        <tr>
          <th scope="row">1/4</th>
          <td>Cup</td>
          <td>Crumbled Feta Cheese</td>
        </tr>

        </tbody>
      </table>

      <div class="d-flex justify-content-center mt-3">
        <p><a href="#"><%= fa_icon "arrow-left" %> PREV </a>| <a href="#">NEXT <%= fa_icon "arrow-right" %></a></p>
      </div>

    </div>




  </div>

</div>

