<div id="recipes" class="content-section2">
  <div class="jumbotron jumbotron-fluid m-0 p-0 pb-3" style="background-color: white;">
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4">
        <span>
          <%= image_tag 'recipe-graphic.png', class: 'd-none d-md-block', alt: 'Recipe Card Icon', style: 'width: auto; height: 6rem;' %>
        </span>
        <div class="media-body ml-4">
          <p class="content-section-title mb-0">FoodTalk Recipes</p>
          <p class="content-section-copy-dark mt-0 mb-0 w-100">Check out our healthy, delicious, and affordable meal ideas!</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <%
        base_css = 'btn btn-sm mb-1 ml-1'
      %>
      <%= link_to "All Recipes", recipes_path, class: base_css + (@all_recipes ? ' btn-light' : ' btn-primary'), role: 'button' %>

      <% if (current_user && !current_user.recipes.empty?) %>
        <%= link_to "My Favorites", recipes_path(favorites: true), class: base_css + (@favorites ? ' btn-light' : ' btn-primary'), role: 'button' %>
      <% end %>

      <% Category.all.each do |c| %>
        <%= link_to c.name, recipes_path(category_id: c.id), class: base_css + ((@category_id && Integer(c.id) == Integer(@category_id)) ? ' btn-light' : ' btn-primary'), role: 'button' %>
      <% end %>
    </div>
  </div>
  <div class="grid pt-4" style="margin: 0 auto;">
    <%= render :partial => "recipes/list_recipes" %>
  </div>
</div>