<div id="recipes" class="content-section2">
  <div class="flex-row no-gutters" style="background-color: white;">
    <div class="flex-col d-flex justify-content-center">
      <div class="media align-items-center mt-3 ml-5 mr-5">
        <span>
          <%= image_tag 'recipe-graphic.png', class: 'd-none d-md-block', alt: 'Recipe Card Icon', style: 'width: auto; height: 6rem;' %>
        </span>
        <div class="media-body ml-4">
          <p class="content-section-title mb-0">Food Talk Recipes</p>
          <p class="content-section-copy-dark mt-0 mb-0 w-100">Check out our healthy, delicious, and affordable meal ideas!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row no-gutters pt-3 pb-3 sticky-top" style="background-color: white;">
    <div class="flex-col d-flex justify-content-center">
      <div class="text-center mt-0">
        <%
          base_css = 'btn btn-sm mb-1 ml-1 border border-secondary'
        %>
        <%= link_to "All Recipes", recipes_path, class: base_css + (@all_recipes ? ' btn-light' : ' btn-primary'), role: 'button' %>

        <% if false %>
          <%= link_to "My Favorites", recipes_path(favorites: true), class: base_css + (@favorites ? ' btn-light' : ' btn-primary'), role: 'button' %>
        <% end %>

        <% @tags.each do |t| %>
          <% if(t["name"].downcase != "uncategorized") %>
            <%= link_to t["name"], recipes_path(tag: t["slug"]), class: base_css + ((@category_id && t["slug"] == @category_id) ? ' btn-light' : ' btn-primary'), role: 'button' %>
          <% end %>
        <% end %>

        <%= form_with id: "wp-search", local: false, class: "form-inline" do |f| %>
                  <span class="input-group ">
                    <%= f.label(:s, "Search Recipes", class: "ml-2") %>
                    <%= f.text_field(:s, class: "ml-2 form-control form-control-sm", placeholder: "Type search terms here...") %>
                    <span class="input-group-append">
                      <%= f.submit("Submit", class: "mr-2 btn btn-sm btn-primary") %>
                    </span>
                  </span>
        <% end %>

      </div>
    </div>
  </div>

  <div class="grid">
    <%
      #TODO: consolidate me into a single view

      @recipes.each do |recipe|
    %>
      <div class="no-gutters mb-4 video-card card grid-item">

        <div class="card-header">
          <h4 class="card-title text-center mt-0">
            <%= recipe["title"]["rendered"] %>
            <span>
              <% #TODO: FIX ME!!!! e.g., User.registered? %>
              <% if user_signed_in? & @current_user.valid? %>
                <% fav = false %>
                <% #TODO: AJAXIFY ME!!!!! %>
                <% link_to fa_icon(fav ? "star" : "star-o"), update_recipe_favorites_path(0), method: :update, title: "Click to mark recipe as favorite.", rel: "tooltip" %>
              <% end %>
              <a class="text-muted" href="#"><% fa_icon "share-alt" %></a>
            </span>
          </h4>
        </div>

        <%= link_to image_tag(recipe["_embedded"]["wp:featuredmedia"][0]["media_details"]["sizes"]["medium"]["source_url"], class: 'card-img-top img-fluid', alt: recipe["title"]["rendered"]), recipe["link"], data: {lity: ''} %>

        <div class="card-body p-2 m-0">

          <div class="card-text text-justify mb-1">
            <%= recipe["excerpt"]["rendered"].html_safe %>
          </div>

          <div class="d-none d-md-block">
            <% if !recipe["tags"].empty? %>
              <div class="card-title">Categories</div>
              <div class="card-text">
                <% recipe["tags"].each do |t| %>
                  <% @tags.each do |t2| %>
                    <% if (t2["id"] == t) %>
                      <%= link_to t2["name"], recipes_path(tag: t2["slug"]), class: 'badge badge-light ml-1', role: 'button', target: '_parent' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% glossary_terms = find_glossary_terms(recipe["content"]["rendered"]) %>

            <% if !glossary_terms.empty? %>
              <div class="card-title mt-1">Glossary Terms</div>
              <div class="card-text">
                <% glossary_terms.each do |gt| %>
                  <%= link_to gt.name, 'javascript:;', class: 'badge badge-light m-0 p-0 pl-1', role: 'button', target: '_parent', "data-toggle": "popover", "data-placement": "top", "data-trigger": "focus", tabindex: "0", title: gt.name, "data-content": gt.description %>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>

        <div class="card-footer text-center">
          <%= link_to("Details", recipe["link"], data: {lity: ''}, class: "btn btn-sm btn-primary") %>
        </div>

      </div>
    <%
      end
    %>
  </div>

</div>