<div id="recipe-post" class="content-section2">

  <% if @show_categories %>
    <%= render partial: 'recipes/recipes_header' %>
  <% end %>

  <div class="p-4">
    <% if @featured_image %>
      <%= image_tag(@featured_image, class: 'rounded img-fluid float-right ml-4', alt: @blog["title"]["rendered"]) %>
    <% end %>
    <span class="content-section-title"><%== @title %></span>
    <%== filter_content_for_display(@content) %>

    <%= t("social_media_prompt") %>
    <br>
    <%= render partial: "layouts/social_media_links", locals: { should_show_facebook: true, should_show_twitter: false, should_show_gplus: false, should_show_youtube: true, should_show_pinterest: false, should_show_instagram: true, should_show_email: false } %>

  </div>
</div>