<div class="col-6">
    <span class="mx-auto">
      <%= form_with id: "user-search", url: find_user_by_criteria_path, class: "form-inline", method: :get do |form| %>
        <div class="form-row">
          <div class="col-auto">
            <%= form.radio_button :search_criteria, :name, checked: true, class: 'form-control form-control-sm' %>
            <%= form.label "Name Is", class: "col-form-label-sm d-inline" %>
            <%= form.radio_button :search_criteria, :email, {class: 'form-control form-control-sm'} %>
            <%= form.label "Email Is", class: "col-form-label-sm d-inline" %>
          </div>

          <div class="col-auto">
            <%= form.text_field :search_value, id: 'criteria-input', class: 'form-control form-control-sm' %>
          </div>

        </div>
        <div class="actions">
          <%= form.button "Search", type: :submit, class: "btn btn-sm btn-primary ml-2" %>
          <%= form.button "All Users", remote: true, class: "btn btn-sm btn-primary ml-2", onclick: "$('#criteria-input').val('');" %>
        </div>
      <% end %>
    </span>
</div>