<div id="users-list" class="no-gutters p-2 pt-3 m-0 rounded">
  <%= render partial: "users/nav", locals: {remote_paging: should_remote_paging} %>

  <% if(!@users.blank?) %>
    <div class="table-responsive">
      <table id="users-table" class="table table-sm table-striped table-hover pb-0 mb-0">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Zip Code</th>
          <th scope="col">Eligible?</th>
          <th scope="col">UID</th>
          <th scope="col">Sign Up Date</th>
          <th scope="col">Role</th>
          <th scope="col">Groups</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |u| %>
          <tr>
            <td>
              <%= link_to u.name, user_path({id: u.id, org_query: request.fullpath}), remote: true %>
            </td>
            <td><%= u.email %></td>
            <td><%= u.gender %></td>
            <td><%= u.age %></td>
            <td><%= u.zip_code %></td>
            <td><%= t u.is_eligible?.class %></td>
            <td><%= u.uid %></td>
            <td><%= u.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= u.role.titleize %></td>
            <td><%= u.group_names.to_sentence %></td>
            <td>
              <%= link_to "Details", user_path({id: u.id, org_query: request.fullpath}), remote: true %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-5 h-100 w-100">There is no data to display.</div>
  <% end %>
</div>

