iziToast.destroy();

<% if @current_user.errors.empty? && @current_user.valid? %>

  var timeout = 3000;

  iziToast.success({
      title: '<%= t("success") %>',
      message: '<%= t("changes_saved") %>',
      target: '#notifications',
      timeout: timeout
  });

  <% if(@current_user.is_eligible?) %>
    $("#learn-online-link").removeClass("d-none");
    $("#learn-online-link").addClass("d-block");

    $("#nav-my-activity-tab").removeClass("d-none");
    $("#nav-my-activity-tab").addClass("d-block");

  <% else %>
    $("#learn-online-link").removeClass("d-block");
    $("#learn-online-link").addClass("d-none");

    $("#nav-my-activity-tab").removeClass("d-block");
    $("#nav-my-activity-tab").addClass("d-none");

  <% end %>

  <% if (@new_user) %>
    setTimeout(function(){
        <% #TODO: GET PATH FROM CONTROLLER LOGIC %>
        $(window.location.replace("<%= show_survey_path('consent-form') %>"));
    }, timeout);

  <% end %>

<% else %>

  errMsg = ""
  <% if @current_user.errors.any? %>
    <% errMsg = "<ul>" %>
    <% @current_user.errors.each do |attr, msg| %>
      <% if @current_user.errors[attr].first == msg %>
        <% errMsg += "<li>#{@current_user.class.human_attribute_name attr} #{msg}</li>" %>
      <% end %>
    <% end %>
    <% errMsg += "<ul>" %>
 <% end %>

  iziToast.error({
      title: '<%= t("activerecord.errors.message")%>',
      message: "<%= errMsg.html_safe %>",
      target: '#notifications',
      timeout: false
  });

<% end %>