<div class="figure no-gutters mb-4 video-card card grid-item">
  <a href="https://www.youtube.com/embed/<%=video.video_id%>?controls=0?controls=0" data-lity>
    <%= image_tag "http://img.youtube.com/vi/#{video.video_id}/hqdefault.jpg", class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
    <figcaption class="figure-caption">
      <h4 class="card-title text-center mt-0"><%=video.title%></h4>
    </figcaption>
  </a>
  <p class="card-text text-justify p-2"><%=video.description%></p>
</div>