<%
  video_id = video["contentDetails"]["videoId"]
  video_survey = VideoSurveys.find_video_by_id(video_id)
  survey_location = video_survey ? show_survey_path(video_survey[:survey_args][:origin]) : ""
%>

<div class="figure no-gutters mb-4 video-card card grid-item">
    <a href="#" onclick="return launchVideo('<%= video_path(video["contentDetails"]["videoId"]) %>', '<%= survey_location %>');">
      <%= image_tag "https://img.youtube.com/vi/#{video["contentDetails"]["videoId"]}/hqdefault.jpg", class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
      <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
      <figcaption class="figure-caption">
        <h4 class="card-title text-center mt-0"><%= video["snippet"]["title"] %></h4>
      </figcaption>
    </a>
  <p class="card-text text-justify p-2"><%= video["snippet"]["description"] %></p>
</div>