<%
  video_id = video["contentDetails"]["videoId"]
  video_survey = VideoSurveys.find_video_by_id(video_id)
  survey_name = video_survey ? video_survey[:survey_args][:origin] : ""
  survey_location = should_serve_survey?(survey_name, @current_user) ? show_survey_path(video_survey[:survey_args][:origin]) : ""
%>

<div class="mb-4 video-card card grid-item">


  <a href="#" onclick="return launchVideo('<%= video_path(video["contentDetails"]["videoId"]) %>', '<%= survey_location %>');" class="p-0">
    <%= image_tag "https://img.youtube.com/vi/#{video["contentDetails"]["videoId"]}/hqdefault.jpg", class: 'card-img-top img-fluid', alt: 'Video Cap' %>
  </a>

  <div class="card-body p-2 m-0 d-none d-md-block">
    <a href="#" onclick="return launchVideo('<%= video_path(video["contentDetails"]["videoId"]) %>', '<%= survey_location %>');" class="p-0">
      <div class="text-center d-none d-md-block"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
      <h4 class="card-title text-center mt-0 d-none d-md-block"><%= video["snippet"]["title"] %></h4>
    </a>
    <p class="card-text text-justify p-2 d-none d-md-block"><%= video["snippet"]["description"] %></p>
  </div>

  <div class="card-footer text-center p-2 d-block d-md-none">
    <a href="#" onclick="return launchVideo('<%= video_path(video["contentDetails"]["videoId"]) %>', '<%= survey_location %>');" class="btn btn-sm btn-primary">
      <%= video["snippet"]["title"] %>
    </a>
  </div>

</div>