<div class="figure no-gutters mb-4 video-card card grid-item">

  <% link_to(fa_icon("youtube-play"), video_path(video["contentDetails"]["videoId"]), data: { lity: '' }, class: "btn btn-sm btn-primary") %>

  <a href="<%= video_path(video["contentDetails"]["videoId"]) %>" data-lity>
    <%= image_tag "http://img.youtube.com/vi/#{video["contentDetails"]["videoId"]}/hqdefault.jpg", class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
    <figcaption class="figure-caption">
      <h4 class="card-title text-center mt-0"><%= video["snippet"]["title"] %></h4>
    </figcaption>
  </a>
  <p class="card-text text-justify p-2"><%= video["snippet"]["description"] %></p>
</div>