<%= render partial: 'shared/update_icon_add_remove_playlist'%>

<% cache [create_cache_key_prefix, "videos-index-#{@playlist_id }"], :expires_in => 1.day do %>
  <div id="videos" class="content-section2 flex-fill">
  <div class="pb-0 bg-white">
    <%= render partial: "shared/videos_title_block", locals: {title: t("videos.name"), description: t("videos.description")} %>
  </div>

  <% if !@playlists.blank? && !@videos.blank? && !@playlists["items"].blank? %>
  <div class="no-gutters sticky-top white-bg">
    <div class=" d-flex justify-content-center categories-title">
      <%= t("header.categories") %>
    </div>
    <div class="flex-col d-flex justify-content-center">
      <div class="text-center mt-0">
        <%
          base_css = 'badge mb-1 ml-1 border'
        %>
        <% #TODO: IMPLEMENT OR REMOVE ME! %>
        <% link_to "All Videos", videos_path, class: base_css + (@all_videos ? ' badge-primary' : ' badge-light'), role: 'button' %>

        <% @playlists["items"].each do |c| %>
          <%= link_to c["snippet"]["title"], videos_path(playlist_id: c["id"]), class: base_css + ((@playlist_id && c["id"] == @playlist_id) ? ' badge-primary' : ' badge-light'), role: 'button' %>
        <% end %>
      </div>
    </div>

    <%= render partial: "shared/scroll_down_for_more" %>

  </div>
  <% end %>

  <% if !@videos.blank? && !@videos["items"].blank? %>
      <div id="videos-grid" class="mx-auto grid pt-3">
        <%= render partial: 'videos/video', collection: @videos["items"], cached: false %>
      </div>

      <% if @nextPageToken %>
      <div class="p-2 d-flex justify-content-center">
        <button class="view-more-button btn btn-primary"><%= t("navigation.load_more") %></button>
      </div>
      <% end %>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <%= t("videos.error")%>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<%= render partial: 'videos/infinite_scroll', locals: {page_path: video_load_page_path(playlist_id: @playlist_id, page_token: @nextPageToken)} %>