<% content_for :head do %>
  <style>
    .twitter-share-button {
      vertical-align : bottom;
    }
  </style>
<% end %>
<div class="p-4">
  <div>
    <% if should_show_post_featured_image %>
      <%= image_tag(@featured_image, class: 'rounded img-fluid float-right ml-4', alt: @post["title"]["rendered"]) %>
    <% end %>

    <% if should_show_post_title %>
      <span class="content-section-title align-middle"><%== @title %></span>
    <% end %>

    <br>

    <% if false %>
    <span class="align-bottom">
      <% if user_signed_in? && policy(:site_access).view_favorites_link? %>
        <% path = request.original_fullpath %>
        <%= link_to fa_icon("heart-o") + " #{t('dashboard.my_playlists.label')}", add_to_favorites_path(path, @title, path.include?("recipe") ? :recipe : :blog), method: :post, remote: true, title: t("favorites.click_to_add"), rel: "tooltip", class: "badge badge-primary is_fav", url: path %>
      <% end %>
    </span>
    <% end %>


    <span class="fb-share-button align-bottom" data-href="<%= @direct_url %>" data-layout="button"></span>

    <span class="align-bottom">
      <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/"></a>
    </span>

    <span class="align-bottom">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </span>

    <%== filter_content_for_display(@content) %>

    <br>
    <%= t("social_media_prompt") %>
    <br>
    <%= render partial: "shared/social_media_links", locals: { css: "", should_show_facebook: true, should_show_twitter: false, should_show_gplus: false, should_show_youtube: true, should_show_pinterest: false, should_show_instagram: true, should_show_email: false } %>
  </div>
</div>