<div class="no-gutters mb-4 card grid-item">

  <div class="card-header d-none d-md-block">
    <h4 class="card-title text-center mt-0">
      <%== post["title"]["rendered"] %>
      <span>
        <% #TODO: FIX ME!!!!  %>
        <% #if false #user_signed_in? %>
        <% #TODO: AJAXIFY ME!!!!! & make update_post_favorites_path%>
          <% #link_to fa_icon(fav ? "star" : "star-o"), update_recipe_favorites_path(0), method: :update, title: "Click to mark post as favorite.", rel: "tooltip" %>
        <% #end %>
        <a class="text-muted" href="#"><% fa_icon "share-alt" %></a>
      </span>
    </h4>
  </div>

  <% media_url = get_media_url(post, :medium, true) %>
  <% if media_url %>
    <%= link_to image_tag(media_url, class: 'card-img-top img-fluid', alt: post["title"]["rendered"]), eval("#{show_path}"+"(#{post['id']})"), data: {"fancybox": "", "type": 'iframe'} %>
  <% end %>

  <div class="card-body p-2 m-0 d-nonez d-md-blockz">

    <div class="card-text text-justify mb-1">
      <%== post["excerpt"]["rendered"].html_safe %>
    </div>

    <div class="d-none d-md-block">
      <% if slugs %>
        <div class="card-title">Categories</div>
        <div class="card-text">
          <% eval(post_slugs).each do |ps| %>
            <% slugs.each do |s| %>
              <% if (s["id"] == ps) %>
                <%= link_to s["name"], eval("#{index_path}(slug: s['slug'])"), class: 'badge badge-light ml-1', role: 'button', target: '_parent' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% glossary_terms = find_glossary_terms(post["content"]["rendered"]) %>

      <% if !glossary_terms.empty? %>
        <div class="card-title mt-1 d-none d-md-block">Glossary Terms</div>
        <div class="card-text d-none d-md-block">
          <% glossary_terms.each do |gt| %>
            <%= link_to gt.name, 'javascript:;', class: 'badge badge-light m-0 p-0 pl-1', role: 'button', target: '_parent', "data-toggle": "popover", "data-placement": "top", "data-trigger": "focus", tabindex: "0", title: gt.name, "data-content": gt.description %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="card-footer text-center d-block d-md-none">
    <%= link_to(post["title"]["rendered"], eval(show_path+"(#{post['id']})"), data: {"fancybox": "", "type": 'iframe'}, class: "btn btn-sm btn-primary") %>
  </div>

  <div class="card-footer text-center d-none d-md-block">
    <%= link_to("Details", eval(show_path+"(#{post['id']})"), data: {"fancybox": "", "type": 'iframe'}, class: "btn btn-sm btn-primary") %>
  </div>

</div>