<nav class="top-nav navbar navbar-expand-md navbar-light <%= local_assigns[:css] %>" role="navigation">

  <%= link_to root_path, class: "navbar-brand d-none d-md-block", data: {turbolinks: false} do %>
    <%= image_tag('logo-sm.png', class: 'm-0 p-0 ', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving") %>
    <% if (avatar = DomainGroups::get_domain_group_icon(request.host)) %>
      <%= image_tag avatar, class: 'img-fluid m-0 p-0', alt: 'Partner logo' %>
    <% end %>
  <% end %>

  <div class="d-block d-md-none">
    <div class="d-flex justify-content-center">
      <div class="h4">
        <span class="flex-fill mr-0">
          <%= link_to fa_icon("home", class: " align-middle") + " Home", root_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("rss", class: "align-middle") + " #{t("navigation.blog")}", blogs_index_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("cutlery", class: "align-middle") + " #{t("navigation.recipes")}", recipes_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("play", class: "align-middle") + " #{t("navigation.videos")}", videos_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("calendar", class: "align-middle") + " #{t("navigation.attend_a_class")}", attend_class_index_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("book", class: "align-middle") + " #{t("navigation.food_glossary")}", food_glossary_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("map", class: "align-middle") + " #{t("navigation.gis_resources")}", maps_index_path, class: "badge badge-secondary" %>
        </span>

        <span class="flex-fill mr-0">
          <%= link_to fa_icon("graduation-cap", class: "align-middle") + " #{t("navigation.learn_online")}", learn_online_path, class: "badge badge-secondary" %>
        </span>

        <% if user_signed_in? %>
          <span class="flex-fill mr-0">
            <%= link_to fa_icon('user', class: "align-middle") + " #{t("navigation.my_dashboard")}", show_dashboard_path, class: "badge badge-secondary", data: {turbolinks: false} %>
          </span>
          <span class="flex-fill mr-0">
            <%= link_to fa_icon("sign-out", class: "align-middle") + " #{t("navigation.logout")}", logout_path, class: "badge badge-secondary" %>
          </span>
        <% else %>
          <span class="flex-fill mr-0">
            <%= link_to fa_icon("sign-in", class: "align-middle") + " #{t("navigation.login")}", login_path, class: "badge badge-secondary" %>
          </span>
        <% end %>

        <% if Rails.application.secrets.i18n_enabled %>
        <span class="flex-fill">
          <%= link_to fa_icon("language", class: "align-middle") + " #{t("switch_language")}", "/#{t('language_select_value').to_sym}", class: "badge badge-secondary" %>
        </span>
        <% end %>
      </div>

    </div>

  </div>


  <% cache [create_cache_key_prefix, "top-nav"], :expires_in => 1.month do %>
  <div class="collapse navbar-collapse" id="navbarToggler1">
    <ul class="navbar-nav mr-auto">

      <%
        my_css = (!is_user_eligibile?) ? "d-none" : "d-block"
      %>

      <li class="nav-item">
        <%= link_to(t("navigation.learn_online"), learn_online_path, id: "learn-online-link", class: "nav-link " + my_css  ) %>
      </li>

      <li class="nav-item">
        <%= link_to(t("navigation.blog"), blogs_index_path, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <%= link_to(t("navigation.recipes"), recipes_path, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <%= link_to(t("navigation.videos"), { controller: "videos", action: "index" }, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <%= link_to(t("navigation.food_glossary"), { controller: "glossary_terms", action: "index" }, class: "nav-link") %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=t("navigation.snap_ed_resources") %></a>
        <% #TODO: remove hardcoding color %>
        <div class="dropdown-menu" style="background-color: #de4527">
          <%= link_to(t("navigation.attend_a_class"), attend_class_index_path, class: "nav-link drop-down-item") %>
          <%= link_to(t("navigation.gis_resources"), maps_index_path, class: "nav-link drop-down-item") %>
        </div>
      </li>

      <%
        if(Rails.application.secrets.i18n_enabled)
      %>
      <li class="nav-item">
        <%= link_to(fa_icon("language") + " #{t('language_select_value').upcase}", "/#{t('language_select_value').to_sym}#{request.original_fullpath.slice(3..-1)}", class: "nav-link") %>
      </li>
      <% end %>

      <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if params[:controller] == 'dashboard' %>">
            <%= link_to( t("navigation.my_dashboard"), { controller: "dashboard", action: "show" }, class: "nav-link", data: {turbolinks: false}) %>
          </li>
          <li class="nav-item" data-turbolinks="false">
            <%= link_to(t("navigation.logout"), logout_path, class: "nav-link mr-auto") %>
          </li>
      <% else %>
          <li class="nav-item" data-turbolinks="false">
            <%= link_to(t("navigation.login"), login_path, class: "nav-link mr-auto") %>
          </li>
      <% end %>

      <%
      site_search_enabled = false;
      if site_search_enabled
      %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon 'search' %>
        </a>
        <div class="dropdown-menu search-box" aria-labelledby="navbarDropdownMenuLink">

          <form class="form-inline">

            <label class="sr-only" for="searchInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchInput" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </li>

      <% end %>

    </ul>

  </div>
  <% end %>

</nav>