<div id="food-etalk" class="mt-4">
  <div class="row p-4 pt-5 mb-2 no-gutters white-bg">
    <div class="col">
      <div class="media align-items-center">
        <%= image_tag 'food-etalk-logo-lg.png', class: 'mr-4 d-none d-lg-block', alt: 'Food eTalk Logo', style: 'width: auto; height: 6rem;' %>
        <div class="media-body">
          <span class="content-section-title"><%=t("learn_online.food_etalk.name")%></span>
          <p class="content-section-copy-dark mr-5"><%=t("learn_online.food_etalk.tagline")%></p>
        </div>
      </div>
    </div>

    <% #Force next columns to break to new line at md breakpoint and down - https://getbootstrap.com/docs/4.0/layout/grid/#column-wrapping %>
    <div class="w-100 d-block d-md-none"></div>

    <div class="col">
      <div class="content-section-copy-dark-med text-justify">
        <%=t("learn_online.food_etalk.description")%>
      </div>
    </div>
  </div>

  <div class="grid">
    <%
      LearningModules::FOOD_ETALK.each do |lesson|
    %>
      <div class="grid-item">
        <%= render :partial => 'learning_module_card', locals: {lesson: lesson, css: 'food-etalk-card'} %>
      </div>
    <%
      end
    %>
  </div>

</div>