<%
  id_split = lesson[:id].split('/')
  cur = id_split[0]
  mod = id_split[1]
%>
<% content_for :head do %>
  <% if(has_completed) %>
    <script defer language="javascript">
        $(document).on("turbolinks:load", function () {
            $("#<%=mod%>").fadeTo(0, 0.35);
        });
    </script>
  <% end %>
<% end %>

<div id="<%=mod%>" class="card learn_online_card module-grid-item mr-2 mb-2 pt-1 pl-2 pb-1
">
  <div class="card-title">

    <% if lesson[:survey_lesson] %>
      <% data = {} %>
    <% else %>
      <% data = {"fancybox": "", "type": 'iframe', preload: false} %>
    <% end %>

    <%= link_to(launch_module_path(curriculum: cur, module_name: mod), data: data ) do %>
      <span id="<%=mod%>-title"><%= t(lesson[:title]) %></span> <%= ( has_completed ? fa_icon('check') : '') %>
    <% end %>

  </div>
  <div class="media">
    <% if lesson[:survey_lesson] %>
      <%= link_to(image_tag(lesson[:img_path], class: 'rounded', alt: "#{lesson[:id]} Cap", style: 'height: auto; width: 4rem;'), launch_module_path(curriculum: cur, module_name: mod), class: 'mr-2' ) %>
    <% else %>
      <%= link_to(image_tag(lesson[:img_path], class: 'rounded', alt: "#{lesson[:id]} Cap", style: 'height: auto; width: 4rem;'), launch_module_path(curriculum: cur, module_name: mod), data: {"fancybox": "", "type": 'iframe', preload: false} , class: 'mr-2' ) %>
    <% end %>

    <div class="media-body mr-4">
      <div class="small card-text text-justify mb-2">
        <%= truncate(t(lesson[:description]), escape: true, separator: ' ', omission: '... ', length: 120) %>
      </div>
    </div>
  </div>
</div>