<%
  id_split = lesson[:id].split('/')
  cur = id_split[0]
  mod = id_split[1]
%>

<div class="card <%= css %>">
  <% if lesson[:survey_lesson] %>
    <%= link_to image_tag(lesson[:img_path], class: 'card-img-top', alt: 'Lesson Cap'), launch_module_path(curriculum: cur, module_name: mod) %>
  <% else %>
    <%= link_to image_tag(lesson[:img_path], class: 'card-img-top', alt: 'Lesson Cap'), launch_module_path(curriculum: cur, module_name: mod), data: {"fancybox": "", "type": 'iframe', preload: false} %>
  <% end %>

  <div class="card-body">
    <div class="card-title text-center"><%= t(lesson[:title]) %></div>
    <div class="card-text text-justify mb-2"><%= t(lesson[:description]).html_safe %></div>
  </div>
  <div class="card-footer text-center">
    <% if lesson[:survey_lesson] %>
      <%= link_to(t("learning_modules.launch"), launch_module_path(curriculum: cur, module_name: mod), class: "btn btn-sm btn-primary") %>
    <% else %>
      <%= link_to(t("learning_modules.launch"), launch_module_path(curriculum: cur, module_name: mod), data: {"fancybox": "", "type": 'iframe', preload: false}, class: "btn btn-sm btn-primary") %>
    <% end %>
  </div>
</div>