<div class="d-flex justify-content-center">
  <div class="media content-section-header align-items-center">
    <%= image_tag 'food-etalk-logo-lg.png', class: 'd-flex d-sm-none d-md-block', alt: 'Food eTalk Logo', style: 'width: auto; height: 6rem;' %>
    <div class="media-body ml-3">
      <span class="content-section-title">Food eTalk</span>
      <p class="content-section-copy-dark">Start Making Healthier food & activity choices!</p>
    </div>
  </div>
</div>


<div class="grid" style="margin: 0 auto;">

  <div class="card grid-item mb-4" style="width: 20rem;">

    <figure class="figure">
      <a href="https://www.youtube.com/embed/WuUFJ2dqmq0?autoplay=1&controls=0" data-vbtype="iframe" data-autoplay="true" class="venobox ">
        <%= image_tag 'http://img.youtube.com/vi/WuUFJ2dqmq0/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Lesson 1 Cap' %>
        <figcaption class="figure-caption"></figcaption>
      </a>
    </figure>

    <div class="card-block mt-0 pt-0">
      <h5 class="text-center">Food eTalk Tutorial</h5>
      <p class="card-text text-justify p-2">This tutorial introduces Food eTalk with a brief overview of the course and demonstrates how to use the lessons. <span class="d-sm-none d-lg-block"></span></p>
    </div>

    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson1/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>

  </div>

  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'shopping-woman.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Your Food, Your Choice
      </div>
      <p class="card-text text-justify p-2">
        Do you want fries with that burger? Choices, choices, choices! Eating healthy is up to you! <span class="hidden-md-down">That’s right, you have the power to choose to make healthy decisions for you and your whole family. Check out this lesson to get started!</span></p>
    </div>
    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson1/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>


  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'ekg-heart.png', class: 'card-img-top', alt: 'Lesson 2 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Keep Your Pressure In Check
      </div>
      <p class="card-text text-justify p-2">

        We’ve all heard it - too much salt or sodium is not good for us. But how the heck do we reduce it and still have tasty food? <span class="hidden-md-down">Check out this lesson for ideas on how to decrease your sodium and increase your family’s health.</span></p>
    </div>
    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson2/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>


  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'fruits-and-veggies-art.png', class: 'card-img-top', alt: 'Lesson 3 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Color Me Healthy
      </div>
      <p class="card-text text-justify p-2">“Yeah, yeah, yeah. My family is supposed to eat more fruits and veggies - but it’s not as easy as it sounds”. <span class="hidden-md-down">We get it, eating fruits and veggies can be challenging - which is why we’ve dedicated this lesson to helping you! Check it out and see for yourself.</span>...</p>
    </div>
    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson3/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>


  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'apple-in-hand.jpg', class: 'card-img-top', alt: 'Lesson 4 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Eat Well on the Go
      </div>
      <p class="card-text text-justify p-2">Let’s face it - fast food happens. But you don’t have to pull up to a drive through to get a fast meal <span class="hidden-md-down"> -- in this lesson you’ll learn tips to make healthy, budget-friendly “fast” meals at home.</span></p>
    </div>
    <div class="card-footer text-center mt-2">
      <a href="/foodtalk_lessons/lesson4/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>


  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'moldy-food-sick-woman.jpeg', class: 'card-img-top', alt: 'Lesson 5 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Keep Yourself Well
      </div>
      <p class="card-text text-justify p-2">No one wants a belly-ache after they’ve eaten unsafe food. In this lesson we’re talking about food safety and how you can keep your family food free of food-borne illness.</p>
    </div>
    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson5/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card grid-item mb-4" style="width: 20rem;">
    <%= image_tag 'head-critical-thinking.png', class: 'card-img-top', alt: 'Lesson 5 Cap' %>
    <div class="card-block">
      <div class="h5 text-center mt-2">
        Play Food eTalk
      </div>
      <p class="card-text text-justify p-2">Let’s see what you’ve learned! Try this interactive game to see how much you learned, or take it as a ‘pre-test’ to see what you may want to learn.</p>
    </div>
    <div class="card-footer text-center">
      <a href="/foodtalk_lessons/lesson6/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
    </div>
  </div>

</div>
