<div id="lessons" class="content-section2 row">
  <div class="col">

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <div class="media content-section-header">
        <%= image_tag 'food-etalk-logo-med.png', class: 'd-flex hidden-sm-down', alt: 'Food eTalk Logo' %>
        <div class="media-body ml-3">
          <span class="content-section-title">Learn Online</span>
          <p class="content-section-copy-dark">Start Making Healthier food & activity choices!</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <p class="lessons-copy text-justify">Our FoodTalk eTalk Lessons will teach you foundational food & nutrition concepts which will help improve the health of You and your family.</p>
    </div>





<% if(false) %>
    <div class="justify-content-center content-section-item">
      <div class="card-group lessons-card-group">

        <div class="card text-center">
          <div class="card-header">
            Your Food, Your Choice
          </div>
          <%= image_tag 'shopping-woman.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
          <div class="card-block">
            <p class="card-text">Did you know that you probably make over 200 decisions about food every day? You might choose between oatmeal or a sausage biscuit for breakfast<span class="hidden-md-down">, eating out instead of cooking at home, or even little choices like using 1 vs 2 packets of sugar in your coffee....</span></p>
          </div>
          <div class="card-footer">
            <a href="/foodtalk_lessons/lesson1/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            Keep Your Pressure In Check
          </div>
          <%= image_tag 'ekg-heart.png', class: 'card-img-top', alt: 'Lesson 2 Cap' %>
          <div class="card-block">
            <p class="card-text">The last thing anyone wants to do after a long day at work is come home to struggle with what to have for dinner. <span class="hidden-md-down">We’ve all been there, and often this time of day – when you’re tired and hungry – can be a really hard...</span></p>
          </div>
          <div class="card-footer">
            <a href="/foodtalk_lessons/lesson2/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            Color Me Healthy
          </div>
          <%= image_tag 'fruits-and-veggies-art.png', class: 'card-img-top', alt: 'Lesson 3 Cap' %>
          <div class="card-block">
            <p class="card-text">The USDA recommends filling half your plate with fruits and vegetables at every meal... but do you know why? <span class="hidden-md-down">And how can you afford to eat healthy fruits and veggies?...</span></p>
          </div>
          <div class="card-footer">
            <a href="/foodtalk_lessons/lesson3/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            Eat Well on the Go
          </div>
          <%= image_tag 'apple-in-hand.jpg', class: 'card-img-top', alt: 'Lesson 4 Cap' %>
          <div class="card-block">
            <p class="card-text">Your busy schedule won't always wait for you to make a healthy home-cooked meal.  What do you do when you have to eat on the run, but your choices are limited <span class="hidden-md-down">and everyone knows fast food isn't the healthiest option...</span></p>
          </div>
          <div class="card-footer">
            <a href="/foodtalk_lessons/lesson5/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            Keep Your Health Out of Jeopardy
          </div>
          <%= image_tag 'diabetes.jpg', class: 'card-img-top', alt: 'Lesson 5 Cap' %>
          <div class="card-block">
            <p class="card-text">More than two-thirds (68.8 percent) of adults are considered to be overweight or obese. More than one-third (35.7 percent) of adults are considered to be obese. <span class="hidden-md-down">More than 1 in 20 (6.3 percent) have extreme obesity. Almost 3 in 4 men (74 percent) are considered to be overweight or obese...</span></p>
          </div>
          <div class="card-footer">
            <a href="/foodtalk_lessons/lesson5/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
          </div>
        </div>

      </div>
    </div>

<% end %>









    <div class="card-columns lessons-card-columns mx-auto">

      <div class="card ">
        <%= image_tag 'shopping-woman.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Your Food, Your Choice
          </div>
          <p class="card-text text-justify">Did you know that you probably make over 200 decisions about food every day? You might choose between oatmeal or a sausage biscuit for breakfast<span class="hidden-md-down">, eating out instead of cooking at home, or even little choices like using 1 vs 2 packets of sugar in your coffee</span>....</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson1/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>


      <div class="card ">
        <%= image_tag 'ekg-heart.png', class: 'card-img-top', alt: 'Lesson 2 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Keep Your Pressure In Check
          </div>
          <p class="card-text text-justify">The last thing anyone wants to do after a long day at work is come home to struggle with what to have for dinner. <span class="hidden-md-down">We’ve all been there, and often this time of day – when you’re tired and hungry – can be a really hard</span>...</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson2/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>


      <div class="card ">
        <%= image_tag 'fruits-and-veggies-art.png', class: 'card-img-top', alt: 'Lesson 3 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Color Me Healthy
          </div>
          <p class="card-text text-justify">The USDA recommends filling half your plate with fruits and vegetables at every meal... but do you know why? <span class="hidden-md-down">And how can you afford to eat healthy fruits and veggies?</span>...</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson3/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>


      <div class="card ">
        <%= image_tag 'apple-in-hand.jpg', class: 'card-img-top', alt: 'Lesson 4 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Eat Well on the Go
          </div>
          <p class="card-text text-justify">Your busy schedule won't always wait for you to make a healthy home-cooked meal.  What do you do when you have to eat on the run, but your choices are limited <span class="hidden-md-down">and everyone knows fast food isn't the healthiest option</span>...</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson4/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>


      <div class="card ">
        <%= image_tag 'diabetes.jpg', class: 'card-img-top', alt: 'Lesson 5 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Keep Yourself Well
          </div>
          <p class="card-text text-justify">More than two-thirds (68.8 percent) of adults are considered to be overweight or obese. More than one-third (35.7 percent) of adults are considered to be obese. <span class="hidden-md-down">More than 1 in 20 (6.3 percent) have extreme obesity. Almost 3 in 4 men (74 percent) are considered to be overweight or obese</span>...</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson5/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>

      <div class="card ">
        <%= image_tag 'head-critical-thinking.png', class: 'card-img-top', alt: 'Lesson 5 Cap' %>
        <div class="card-block">
          <div class="h5 text-center">
            Play Food eTalk
          </div>
          <p class="card-text text-justify">Review what you have learned in the previous Food eTalk lessons.  Items include ways to feed our families healthier meals on a budget, ideas for planning meals, <span class="hidden-md-down">suggestions for decreasing fat and sodium levels, ways to keep your food & family safe from food borne illness, and cooking videos</span>...</p>
        </div>
        <div class="card-footer text-center">
          <a href="/foodtalk_lessons/lesson6/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
        </div>
      </div>

    </div>















    <% if(false) %>
        <p class="scroll-down-for-more d-flex mx-auto justify-content-center content-section-item align-items-center">
          <%= fa_icon "arrow-down", class: 'pr-2' %>  Scroll down for more content  <%= fa_icon "arrow-down", class: 'pl-2' %>
        </p>
    <% end %>
  </div>
</div>