<% cache "recent-recipes", :expires_in => 1.day do %>
<div id="featured-recipes" class="content-section">
  <div class="d-flex justify-content-center">
    <div class="media pt-4 pl-4 pr-4 align-items-center">
      <%= image_tag 'recipe-graphic-sm.png', class: 'd-none d-md-block mr-4', alt: 'Recipe Card Icon', style: '' %>
      <div class="media-body">
        <span class="content-section-title"><%= t("welcome.recipes.title") %></span>
        <p class="content-section-copy-light"><%= t("welcome.recipes.description") %></p>
      </div>
    </div>
  </div>
  <div class="mx-auto card-deckz recipes-deck w-100">
    <div class="grid">
      <%
        #TODO: consolidate me into a single view
        @recipes.first(3).each do |recipe| %>
        <%= render partial: 'recipes/recipe_card', locals: {recipe: recipe}%>
      <% end %>
    </div>
  </div>
  <div class="content-section-copy-light recipe-copy text-center pt-4 pb-4">
    <%= link_to t("navigation.view_all_recipes"), recipes_path %>
  </div>
</div>
<% end %>