<div id="videos" class="content-section2 row">
  <div class="col">

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <div class="media content-section-header align-items-center">
        <%= image_tag 'food-etalk-logo-med.png', class: 'd-sm-none d-md-block', alt: 'Food eTalk Logo' %>
        <div class="media-body ml-3">
          <span class="content-section-title">Featured Videos</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <span class="lessons-copy text-justify"></span>
    </div>

    <div class="justify-content-center content-section-item mt-5">
      <div class="card-group videos-card-group d-flex mx-auto">
        <% Video.limit(4).each do |video| %>
            <div class="video-card card">
              <figure class="figure">
                <a href="https://www.youtube.com/embed/<%=video.video_id%>?controls=0?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                  <%= image_tag "http://img.youtube.com/vi/#{video.video_id}/hqdefault.jpg", class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                  <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                  <figcaption class="figure-caption"></figcaption>
                </a>
              </figure>
              <div class="card-block mt-0 pt-0">
                <h5 class="text-center"><%=video.title%></h5>
                <p class="card-text text-justify p-2"><%=video.description%><span class="d-sm-none d-lg-block"></span></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="justify-content-center mx-auto content-section-item">
      <div class="content-section-copy recipe-copy text-center">
        Our FoodTalk videos are informative and will help you increase your knowledge of food & nutrition!<br><%= link_to "Click here", videos_path %> to browse our entire catalog.
      </div>
    </div>

  </div>
</div>
