<div id="lessons" class="content-section2 row">
  <div class="col">

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <div class="media content-section-header align-items-center">
        <%= image_tag 'food-etalk-logo-med.png', class: 'd-sm-none d-md-block', alt: 'Food eTalk Logo' %>
        <div class="media-body ml-3">
          <span class="content-section-title">Featured Videos</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <span class="lessons-copy text-justify"></span>
    </div>







    <div id="videosCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">

      <div class="carousel-inner" role="listbox">





        <div class="carousel-item active">


          <div class="justify-content-center content-section-item mt-5">
            <div class="card-group videos-card-group d-flex mx-auto">

              <div class="card">

                <figure class="figure">

                  <a class="venobox" data-vbtype="video-iframe" href="/videos/VVez_v8-LPs">
                    <%= image_tag 'http://img.youtube.com/vi/VVez_v8-LPs/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>

                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Tips for Planning Menus</h5>
                  <p class="card-text text-justify p-2">Watch and learn simple ways to keep save money, time, and stress by planning meals.<span class="d-sm-none d-lg-block"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/G1OUmTRXDIg?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/G1OUmTRXDIg/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Tips for Food Safety</h5>
                  <p class="card-text text-justify p-2">Watch and learn simple ways to keep yourself and your family safe from food borne illness.<span class="d-sm-none d-lg-block"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/wEIIkAspsqU?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/wEIIkAspsqU/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Tips for Buying Dairy</h5>
                  <p class="card-text text-justify p-2">Watch and learn simple ways to make smart choices in the dairy aisle.<span class="d-sm-none d-lg-block"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/dDFNktNoN8Y?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/dDFNktNoN8Y/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Tips for Buying Bread</h5>
                  <p class="card-text text-justify p-2">Watch and learn simple ways to make smart choices in the bread aisle.<span class="d-sm-none d-lg-block"></span></p>
                </div>
              </div>

            </div>
          </div>


        </div>





        <div class="carousel-item">


          <div class="justify-content-center content-section-item mt-5">
            <div class="card-group videos-card-group d-flex mx-auto">

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/BNU6Nu0h4Is?controls=0" data-vbtype="video" data-autoplay="true" class="venobox ">
                    <%= image_tag 'http://img.youtube.com/vi/BNU6Nu0h4Is/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">A Flash of Food Safety Active Cooling with a Chill Stick</h5>
                  <p class="card-text text-justify p-2">Cooling food properly is essential to keeping food safe. Active cooling methods cool food quickly to prevent the growth of harmful microbes that cause foodborne illness.<span class="hidden-md-down"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/tcRsRNlvGwo?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/tcRsRNlvGwo/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Calibrando el Termómetro: El Método de Agua Helada</h5>
                  <p class="card-text text-justify p-2">Cuando los alimentos son preparados o son mantenidos en temperaturas no adecuadas, las bacterias nocivas pueden crecer dentro de la comida causando que no sea seguro consumirlas. El uso de un termómetro preciso para monitorear la temperatura de los alimentos puede ayudar a asegurar la seguridad de sus alimentos. Es importante calibrar sus termómetros para los alimentos para verificar su precisión.

                    A Flash of Food Safety es una serie de videos diseñados para profesionales de nutrición escolar. Este segmento repasa cómo calibrar un termómetro mediante el método de agua helada.<span class="hidden-md-down"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/LtiLFu04fSE?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/LtiLFu04fSE/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">El Lavado de Manos: El Por Qué Lavarse las Manos</h5>
                  <p class="card-text text-justify p-2">Las personas que manipulan alimentos pueden propagar gérmenes desde sus manos a la comida. Cuando una persona consume un alimento contaminado puede enfermarse con una enfermedad transmitida por alimentos. El lavado de manos adecuado es una de las cosas más importantes que una persona que trabaja con alimentos puede hacer para mantener las comidas que sirven seguras.<span class="hidden-md-down"></span></p>
                </div>
              </div>

              <div class="card">

                <figure class="figure">
                  <a href="https://www.youtube.com/embed/S7ajdg4Slx8?controls=0" data-vbtype="video" data-autoplay="true" class="venobox">
                    <%= image_tag 'http://img.youtube.com/vi/S7ajdg4Slx8/maxresdefault.jpg', class: 'card-img-top figure-img img-fluid', alt: 'Video Cap' %>
                    <div class="text-center"><%= fa_icon "youtube-play", class: 'faYoutubePlayIcon' %></div>
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>

                <div class="card-block mt-0 pt-0">
                  <h5 class="text-center">Family Meal Time</h5>
                  <p class="card-text text-justify p-2">The U.S. Department of Agriculture’s Center for Nutrition Policy and Promotion introduces the “MyPlate, MyWins” video series, a collection of videos that brings MyPlate to life and shows how families all over America are finding simple solutions to make healthy eating work for them. Follow Shelley and her two-year-old as she sets her family up for success by making little changes to her son’s diet. It’s all about finding small wins that help you and your family become healthier. Find more healthy eating solutions at:<br>http://www.choosemyplate.gov<span class="hidden-md-down"></span></p>
                </div>
              </div>

            </div>
          </div>


        </div>


        <a class="carousel-control-prev" href="#videosCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#videosCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>




      </div>

    </div>




    <div class="justify-content-center mx-auto content-section-item">
      <div class="content-section-copy recipe-copy text-center">
        Our FoodTalk eTalk Videos are informative and will help you increase your knowledge of food & nutrition!<br><a href="#">Click here</a> to browse our entire catalog.
      </div>
    </div>

  </div>
</div>
