<div class="content-section">

  <div class="d-flex flex-row justify-content-center mx-auto">
    <span class="content-section-title">Featured Recipes</span>
  </div>

  <div class="d-flex flex-row mx-auto justify-content-center">

    <div class="card-deck">
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex flex-row justify-content-center mx-auto">
    <span class="content-section-title">Learn Online</span>
  </div>


  <div class="d-flex flex-row mx-auto justify-content-center">
    <div class="card-group">
      <div class="card text-center">
        <%= image_tag 'lesson-1-thumbnail.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>

        <div class="card-block">
          <h4 class="card-title">Lesson 1 - Your Food, Your Choice</h4>
          <p class="card-text">Did you know that you probably make over 200 decisions about food every day? You might choose between oatmeal or a sausage biscuit for breakfast, eating out instead of cooking at home, or even little choices like using 1 vs 2 packets of sugar in your coffee....</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
      <div class="card text-center">
        <%= image_tag 'lesson-2-thumbnail.png', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
        <div class="card-block">
          <h4 class="card-title">Lesson 2 - Keep Your Pressure In Check</h4>
          <p class="card-text">The last thing anyone wants to do after a long day at work is come home to struggle with what to have for dinner. We’ve all been there, and often this time of day – when you’re tired and hungry – can be a really har...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
      <div class="card text-center">
        <%= image_tag 'lesson-3-thumbnail.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
        <div class="card-block">
          <h4 class="card-title">Lesson 3 - Color Me Healthy</h4>
          <p class="card-text">The USDA recommends filling half your plate with fruits and vegetables at every meal... but do you know why? And how can you afford to eat healthy fruits and veggies?...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
    </div>
  </div>

  <p class="d-flex flex-row justify-content-center mx-auto mt-5">
    Blah blah blah.  Blah Blah.  Blah blah blah blah. Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.

    Blah blah blah.  Blah Blah.  Blah blah blah blah. Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
    Blah blah blah.  Blah Blah.  Blah blah blah blah.
  </p>

</div>







</div>
