<div class="content-section">
  <div class="d-flex flex-row justify-content-center mx-auto content-section-item">
    <div class="media content-section-header ">
      <%= image_tag 'logo.png', class: 'd-flex align-self-center mr-3', alt: 'FoodTalk.org Logo' %>
      <div class="media-body">
        <span class="content-section-title">Featured Recipes</span>
        <p class="content-section-copy">Check out this month's Featured Recipes!</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row mx-auto justify-content-center content-section-item">
    <div class="card-deck">
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
        </div>
        <div class="align-items-center mb-3">
          <a href="#" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'fruit_smoothie-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Fruit Smoothie</h4>
          <p class="card-text">Farmers Market Recipe: Fruit Smoothie</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
        </div>
        <div class="align-items-center mb-3">
          <a href="#" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'eggplant_slider-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Italian Eggplant Slider</h4>
          <p class="card-text">Farmers Market Recipe: Italian Eggplant Slider</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
        </div>
        <div class="align-items-center mb-3">
          <a href="#" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "welcome/scroll-down-for-more" %>

</div>



<div class="content-section">

  <div class="d-flex flex-row justify-content-center mx-auto content-section-item">
    <div class="media content-section-header">
      <%= image_tag 'food-etalk-logo.png', class: 'd-flex align-self-center mr-3', alt: 'FoodTalk.org Logo' %>
      <div class="media-body">
        <span class="content-section-title">Learn Online</span>
        <p class="content-section-copy">Make Healthy food & activity choices!</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row mx-auto justify-content-center content-section-item">
    <div class="card-group">
      <div class="card text-center">
        <%= image_tag 'lesson-1-thumbnail.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>

        <div class="card-block">
          <h4 class="card-title">Lesson 1 - Your Food, Your Choice</h4>
          <p class="card-text">Did you know that you probably make over 200 decisions about food every day? You might choose between oatmeal or a sausage biscuit for breakfast, eating out instead of cooking at home, or even little choices like using 1 vs 2 packets of sugar in your coffee....</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
      <div class="card text-center">
        <%= image_tag 'lesson-2-thumbnail.png', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
        <div class="card-block">
          <h4 class="card-title">Lesson 2 - Keep Your Pressure In Check</h4>
          <p class="card-text">The last thing anyone wants to do after a long day at work is come home to struggle with what to have for dinner. We’ve all been there, and often this time of day – when you’re tired and hungry – can be a really har...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
      <div class="card text-center">
        <%= image_tag 'lesson-3-thumbnail.jpg', class: 'card-img-top', alt: 'Lesson 1 Cap' %>
        <div class="card-block">
          <h4 class="card-title">Lesson 3 - Color Me Healthy</h4>
          <p class="card-text">The USDA recommends filling half your plate with fruits and vegetables at every meal... but do you know why? And how can you afford to eat healthy fruits and veggies?...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "welcome/scroll-down-for-more" %>

</div>



<div class="content-section2">
  <div class="d-flex flex-row justify-content-center content-section-item">

    <div class="dflex flex-column mx-auto">
      <div class="media content-section-header">

        <div class="media-body">
          <span class="content-section-title">From Our Current Newsletter</span>
          <p class="lead">Sign up Today!</p>
          <p>
            <a href="https://foodtalk.org/content/11-tips-planning-smart-grocery-trip">11 Tips for Planning a Smart Grocery Trip</a>
          </p>
          <p>
            <a href="https://foodtalk.org/content/5-ways-get-your-kids-eat-healthful-foods">5 Ways to Get Your Kids to Eat Healthful Foods</a>
          </p>
          <p>
            <a href="https://foodtalk.org/content/6-smart-snacks-go">6 Smart Snacks on the Go</a>
          </p>
          <p>
            <a href="https://foodtalk.org/content/put-your-best-fork-forward-during-national-nutrition-month®">Put your best fork forward during National Nutrition Month®!</a>
          </p>
          <p>
            <a href="https://foodtalk.org/content/salty-truth-about-sodium">The Salty Truth about Sodium</a>
          </p>
        </div>
      </div>
    </div>

    <div class="dflex flex-column mx-auto">
      <div class="media">
        <div class="media-body facebook-feed">
          <span class="content-section-title">From Facebook</span>
          <p class="lead">Follow us on Facebook!</p>
          <p>
            Have you ever wanted tips on how to shop for more healthful
            foods while sticking to a budget? Look no further! Here are
            11 ways to have a smarter shopping trip.
            <em>2 weeks 3 days ago.</em>
          </p>
          <hr>
          <p>
            Eggplant - now in season! Just in time for June's recipe of
            the month, "Italian Eggplant Sliders." Cooking with eggplant
            is a great way to follow the MyPlate tip to vary your veggie
            choices to keep meals interesting. These sliders taste just
            like mini pizzas but are packed with nutrients and help you get
            more servings of healthy vegetables in your diet. If you try them,
            let us know what you think in the comments.
            <a href="https://www.foodtalk.org/content/italian-eggplant-slider">https://www.foodtalk.org/content/italian-eggplant-slider</a>
            <em>2 weeks 4 days ago.</em>
          </p>
          <hr>
          <p>
            Tip #4 - Experts say that it can take offering your child a vegetable
            8-15 times before they finally eat it.That’s a lot! The good news is,
            experience with a new food can help your kids like it and eat more of it.
            <em>1 month 1 day ago.</em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <p class="scroll-down-for-more d-flex flex-row mx-auto justify-content-center content-section-item">
    <%= fa_icon "arrow-down", class: 'pr-2' %>  Scroll down for more content  <%= fa_icon "arrow-down", class: 'pl-2' %>
  </p>

</div>



<div class="content-section">
  <div class="d-flex flex-row justify-content-center mx-auto content-section-item">
    <div class="media content-section-header">
      <div class="media-body">
        <span class="content-section-title">Additional Resources</span>
        <p class="content-section-title">Find out even more about Health and Well-being!</p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row mx-auto justify-content-center content-section-item">
    <a href="https://www.supertracker.usda.gov"><%= image_tag 'supertracker-logo.png'%></a>
    <a href="http://www.choosemyplate.gov"><%= image_tag 'choosemyplate-logo.png'%></a>
    <a href="http://www.fns.usda.gov"><%= image_tag 'usda-logo.png'%></a>
    <a href="http://www.walkgeorgia.org/"><%= image_tag 'walk-georgia-logo.png'%></a>
  </div>

  <%= render partial: "welcome/scroll-down-for-more" %>

</div>



<div class="content-section">
  <div class="d-flex flex-row">
    <div class="p-2">
      <div class="card">
        <div class="card-block uga-snap-ed-address mx-auto">
          <h3>Contact Us</h3>
          <address>
            <h4>UGA SNAP-Ed</h4>
            Barrow Hall<br>
            115 DW Brooks Dr<br>
            Athens, Georgia 30602<br>
            PHONE: 706.542.6117<br>
            EMAIL: <a href = "mailto:#">foodtalk@uga.edu</a>
          </address>
        </div>
      </div>
    </div>
    <div class="p-2">
      <p class="footer-slogan-title">Thank You for visiting FoodTalk.org!</p>
      <p class="lead footer-slogan-copy mx-auto">
        On this website you will find recipes, cooking videos, educational games and lessons, and plenty of resources to help you make healthy food and physical activity choices for your whole family as well as Online and Instructor Lead Learning as part of Supplemental Nutrition Assistance Program Education. Portions of this website may be restricted due to SNAP-Ed eligibility.
      </p>
    </div>
  </div>
</div>


