<%cache [create_cache_key_prefix, "glossary"], :expires_in => 1.day do %>

  <div class="content-section-header d-flex justify-content-center align-items-center white-bg">
    <div><%= image_tag 'glossary-icon.png', class: 'header-icon', alt: 'Glossary Icon' %></div>
    <div>
      <div class="content-section-title"><%=t("glossary.name")%></div>
      <div class="content-section-copy-dark d-none d-md-block"><%=t("glossary.description")%></div>
    </div>
  </div>

  <div class="row no-gutters pl-4 pr-4 pt-2 pb-4 justify-content-center sticky-top white-bg">
    <% letters = [] %>
    <% @glossary_terms.each do |term| %>
      <% letters |= [term.name.slice(0)] %>
    <% end %>
    <% current_letter = letters.shift %>
    <% ("a".."z").each { |l| %>
      <%
        if letters.include?(l)
          current_letter = letters.shift
        end
      %>
      <%= link_to l.upcase, "##{current_letter.upcase}", class: 'btn btn-sm btn-primary border border-secondary', style: 'margin: .05rem;', role: 'button', data: {turbolinks: false} %>
    <% } %>
  </div>

  <div id="glossary" class="content-section2 pt-4">
    <div class="col-auto">
      <%
        last_term = nil
        should_execute = false
      %>
      <% @glossary_terms.each do |gt| %>
        <%
          current_term = gt.name.slice(0).upcase
          if(last_term != current_term)
            last_term = current_term
            should_execute = true
          else
            should_execute = false
          end
        %>

        <% if(should_execute) %>
          <div id="<%= last_term %>"></div>
        <% end %>

        <%= render partial: 'glossary_terms/glossary_term', locals: {glossary_term: gt} %>

      <% end %>

    </div>
  </div>
<%end %>