<nav id="footer-nav" class="navbar navbar-light" role="navigation">

  <div class="row no-gutters d-flex justify-content-center mx-auto">

    <span class="col-auto">
      <span class="navbar-text created-by-copy d-none d-md-inline" style="color: white;">Created by</span>
      <a href="https://snaped.fns.usda.gov/state-snap-ed-contacts/georgia" target="_blank">
        <%= image_tag 'ga-snap-ed-sm.png', class: 'ml-2 mr-2 m-0 p-0', alt: 'GA SNAP-Ed Logo', style: 'height: 50px; width: auto;' %>
      </a>
      <a href="http://www.fcs.uga.edu/extension/uga-snap-ed" target="_blank">
        <%= image_tag 'uga-snap-ed-logo-sm.png', class: 'mr-4 m-0 p-0', alt: 'UGA SNAP-Ed Logo', style: 'height: 50px; width: auto;' %>
      </a>
    </span>

    <div class="w-100 d-block d-lg-none"></div>

    <span class="col-auto d-inline-flex">
      <%= link_to("About", "http://www.fcs.uga.edu/extension/uga-snap-ed-about-us", class: "nav-item nav-link", target: "_blank") %>
      <%= link_to("Contact", "/html/contact-us.html", data: { lity: '' }, class: "nav-item nav-link") %>
      <%= link_to("Statements", "/html/statements.html", data: { lity: '' }, class: "nav-item nav-link") %>
    </span>

    <div class="w-100 d-block d-lg-none"></div>

    <span class="col-auto d-inline-flex sm-icon-group">
      <a class="nav-item nav-link" href="http://www.facebook.com/FoodeTalk" target="_blank"><%= fa_icon('facebook-square') %></a>
      <a class="nav-item nav-link" href="http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=FoodeTalk" target="_blank"><%= fa_icon('twitter-square') %></a>
      <a class="nav-item nav-link" href="https://plus.google.com/116761006042596808728" target="_blank"><%= fa_icon('google-plus-square') %></a>
      <a class="nav-item nav-link" href="http://www.youtube.com/channel/UCDe5pmhN2kt9RIKJAaHikCg?sub_confirmation=1" target="_blank"><%= fa_icon('youtube-square') %></a>
      <a class="nav-item nav-link" href="http://www.pinterest.com/foodetalk" target="_blank"><%= fa_icon('pinterest-square') %></a>
      <a class="nav-item nav-link" href="http://instagram.com/foodetalk" target="_blank"><%= fa_icon('instagram') %></a>
      <a class="nav-item nav-link" href="mailto:foodtalk@uga.edu" target="_blank"><%= fa_icon('envelope-o') %></a>
    </span>

    <span class="col-auto ml-5" style="color: white;">
      Secured By
      <a class="ml-2" width="auto" height="50px" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="auto" height="50px" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
    </span>

  </div>

</nav>