<div id="footer" class="">

  <nav id="footer-nav" class="navbar navbar-light" role="navigation">

    <div class="row no-gutters d-flex justify-content-center mx-auto">

      <span class="mx-auto">
        <%= image_tag 'snap-ed-footer.png', class: 'img-fluid', alt: 'UGA SNAP-Ed Logo', style: 'max-height: 50px;' %>
      </span>

      <div class="w-100 d-block d-lg-none"></div>

      <span class="mx-auto d-inline-flex">
        <%= link_to(t("footer.about"), "https://www.fcs.uga.edu/extension/uga-snap-ed-about-us", class: "nav-item nav-link", target: "_blank") %>
        <%= link_to(t("footer.contact"), "/html/contact-us.html", data: {"fancybox": "", "type": 'iframe'}, class: "nav-item nav-link") %>
        <%= link_to(t("footer.statements"), "/html/statements.html", target: "_blank", class: "nav-item nav-link") %>
      </span>

      <div class="w-100 d-block d-lg-none"></div>

      <%= render partial: "layouts/social_media_links", locals: { should_show_facebook: true, should_show_twitter: true, should_show_gplus: false, should_show_youtube: true, should_show_pinterest: true, should_show_instagram: true, should_show_email: true } %>

      <span class="mx-auto" style="color: white;">
        <%= t("footer.auth0") %>
        <a class="ml-2" width="auto" height="50px" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img class="img-fluid" style="height: 50px; width: 150px;" alt="JWT Auth for open source projects" src="https://cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
      </span>
    </div>

  </nav>


</div>