<div id="header" class="d-flex hero">

  <div class="d-none d-md-block d-lg-none ml-4 mr-4">
    <%= image_tag 'logo-lg.png', class: 'logo', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </div>

  <div class="d-none d-lg-block ml-5 mr-5">
    <%= image_tag 'logo-xl.png', class: 'logo img-fluid', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </div>

  <div class="hero-content">
    <span class="d-inline d-md-none p-0 m-0">
      <%= image_tag 'logo-md.png', class: 'logo img-fluid mt-1', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
    </span>
    <span class="hero-title text-justify align-bottom">
      <%= t("welcome.title") %>
    </span>
    <p class="hero-copy text-justify">
      <%= t("welcome.description") %>
    </p>
    <div>
      <% form_with(url: '/search') do |f| %>
        <% f.label(:q, "Search for:") %>
        <% f.text_field(:q, id: :q) %>
        <% f.submit("Search") %>
      <% end %>

      <div class="hero-subtitle mr-2"><%= link_to fa_icon("user") + " #{t("navigation.login")}", login_url, class: "badge badge-dark hero-subtitle" %> <%= t("welcome.sign_up") %></div>

    </div>
    <div class="scroll-down-for-more pt-2">
      <%= t("welcome.read_more") %> <%= fa_icon "arrow-circle-down", class: "arrow" %>
    </div>
  </div>
</div>
<div id="scroll-down"></div>