<div class="container-fluid">
  <div id="header" class="row d-flex hero">
    <div class="col hidden-sm-down">
      <%= image_tag 'logo-xl.png', class: 'logo img-fluid', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
    </div>

    <div class="col hero-content">

      <div class="hidden-md-up">
        <%= image_tag 'logo-lg.png', class: 'img-fluid mt-3', alt: "FooTalk.org Logo", style: 'padding: 0; margin: 0;' %>
      </div>

      <p class="hero-title">Helping Georgians Eat Healthy & Get Moving!</p>

      <p class="hero-copy">
        FoodTalk.org has been made especially for Georgians who want FREE ideas on how to keep their families healthy by making nutritious food choices on a budget!
      </p>
      <div>
        <span class="hero-subtitle">Sign Up For Our Monthly Newsletter!</span>

        <form class="form-inline ">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address...">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Go!</button>
            </span>
          </div>
        </form>






      </div>
      <p class="scroll-down-for-more pt-5">
        <%= fa_icon "arrow-down" %> Scroll down for more content <%= fa_icon "arrow-down" %>
      </p>
    </div>
  </div>

</div>

<%= render :partial => 'layouts/top-nav' %>