<div id="header" class="d-flex hero">

  <div class="d-none d-md-block d-lg-none ml-4 mr-4">
    <div class="text-center">
      <%= image_tag 'logo-lg.png', class: 'logo', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
    </div>
    <% if (avatar = DomainGroups::get_domain_group_logo(request.host)) %>
      <div class="small text-light text-center">
        In partnership with
      </div>
      <div class="text-center">
      <%= image_tag(avatar, class: 'img-fluid', alt: 'Partner logo', class: "img-fluid") %>
      </div>
    <% end %>
  </div>

  <div class="d-none d-lg-block ml-5 mr-5">
    <div class="text-center">
      <%= image_tag 'logo-xl.png', class: 'logo img-fluid', alt: t("welcome.title") %>
    </div>
    <% if (avatar = DomainGroups::get_domain_group_logo(request.host)) %>
    <div class="small text-light text-center">
      In partnership with
    </div>
    <div class="text-center">
      <%= image_tag(avatar, class: 'img-fluid', alt: 'Partner logo', class: "img-fluid") %>
    </div>
    <% end %>
  </div>

  <div class="hero-content">
    <span class="d-inline d-md-none p-0 m-0">
      <div class="small text-light text-center">
        <%= image_tag 'logo-md.png', class: 'logo img-fluid mt-1', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
      </div>
      <% if (avatar = DomainGroups::get_domain_group_logo(request.host)) %>
        <div class="small text-light text-center">
          In partnership with
        </div>
        <div class="text-center">
          <%= image_tag(avatar, class: 'img-fluid', alt: 'Partner logo', class: "img-fluid") %>
        </div>
      <% end %>
    </span>

    <% if(Rails.application.secrets.i18n_enabled) %>
    <div class="text-right">
      <u><%= link_to(t("switch_language"), "/#{t('language_select_value').to_sym}", class: "", style: "color: white;") %></u>
    </div>
    <% end %>

    <span class="hero-title text-justify align-bottom">
      <%= t("welcome.title") %>
    </span>
    <p class="hero-copy text-justify">
      <%= t("welcome.description") %>
    </p>
    <div>
      <% form_with(url: '/search') do |f| %>
        <% f.label(:q, "Search for:") %>
        <% f.text_field(:q, id: :q) %>
        <% f.submit("Search") %>
      <% end %>

      <div class="hero-subtitle mr-2"><%= link_to fa_icon("user") + " #{t("navigation.login")}", login_url, class: "badge badge-dark hero-subtitle" %> <%= t("welcome.sign_up") %></div>

    </div>
    <div class="scroll-down-for-more pt-2">
      <%= t("welcome.read_more") %> <%= fa_icon "arrow-circle-down", class: "arrow" %>
    </div>
  </div>
</div>
<div id="scroll-down"></div>