<div id="header" class="d-flex hero">

  <div class="d-none d-md-block d-lg-none ml-4 mr-4">
    <%= image_tag 'logo-lg.png', class: 'logo', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </div>

  <div class="d-none d-lg-block ml-5 mr-5">
    <%= image_tag 'logo-xl.png', class: 'logo img-fluid', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </div>

  <div class="hero-content">

    <div class="d-md-none mt-4 mb-4 d-flex justify-content-center">
      <%= image_tag 'logo-md.png', alt: "FoodTalk.org Logo" %>
    </div>

    <p class="hero-title text-justify">Helping Georgians Eat Healthy & Get Moving!</p>
    <p class="hero-copy text-justify">
      FoodTalk.org has been made especially for Georgians who want FREE ideas on how to keep their families healthy by making nutritious food choices on a budget!
    </p>
    <div>
      <% form_with(url: '/search') do |f| %>
        <% f.label(:q, "Search for:") %>
        <% f.text_field(:q, id: :q) %>
        <% f.submit("Search") %>
      <% end %>

      <div class="hero-subtitle mr-2">Sign up now to subscribe to our Food Talk eNewsletter and find out if you are eligible for free online learning.</div>

      <% form_with url: newsletter_sign_up_url, remote: true, class: "form-inline" do |f| %>
        <div class="input-group">
          <%= f.text_field(:email, class: "form-control", placeholder: "Enter Your Email Here") %>
          <div class="input-group-append">
            <%= f.submit("Sign Up Now!", class: "btn btn-primary") %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="scroll-down-for-more pt-4">
      <%= link_to fa_icon("user") + " Sign Up", login_url, class: "badge badge-dark hero-subtitle" %> or Scroll for more <% fa_icon "arrow-circle-down",  class: "pl-3" %>
    </div>
  </div>
</div>