<nav class="top-nav navbar navbar-expand-md navbar-light <%= local_assigns[:css] %>" role="navigation">

  <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to(image_tag('logo-sm.png', class: '', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving"), { controller: "welcome", action: "index" }, class: "navbar-brand") %>

  <div class="collapse navbar-collapse" id="navbarToggler1">
    <ul class="navbar-nav mr-auto">

      <%
        my_css = (!@current_user.is_eligible?) ? "d-none" : "d-block"
      %>

      <li class="nav-item">
        <%= link_to("Learn Online",learn_online_path, id: "learn-online-link", class: "nav-link " + my_css  ) %>
      </li>

      <li class="nav-item">
        <%= link_to("Blogs", blogs_index_path, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <%= link_to("Recipes", recipes_path, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <% #TODO: FIX ME! %>
        <%= link_to("Videos", { controller: "videos", action: "index" }, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <% #TODO: FIX ME! %>
        <%= link_to("Food Glossary", { controller: "glossary_terms", action: "index" }, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <% link_to("GIS Resources", maps_index_path, class: "nav-link") %>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SNAP-Ed Resources</a>
        <% #TODO: remove hardcoding color %>
        <div class="dropdown-menu" style="background-color: #de4527">
          <%= link_to("Attend a Class", attend_class_index_path, class: "nav-link drop-down-item") %>
          <%= link_to("GIS Resources", maps_index_path, class: "nav-link drop-down-item") %>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if params[:controller] == 'dashboard' %>">
            <%= link_to( fa_icon('user') + " My Dashboard" , { controller: "dashboard", action: "show" }, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Logout", "/logout", class: "nav-link mr-auto") %>
          </li>
      <% else %>
          <li class="nav-item ">
            <% link_to "Login", "javascript:void(0)", { class: "nav-link", onclick:"signin()" } %>
            <a class="nav-link" href="/login">Login/Signup</a>
          </li>
      <% end %>

      <%
      site_search_enabled = false;
      if site_search_enabled
      %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon 'search' %>
        </a>
        <div class="dropdown-menu search-box" aria-labelledby="navbarDropdownMenuLink">

          <form class="form-inline">

            <label class="sr-only" for="searchInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchInput" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </li>

      <% end %>


    </ul>

  </div>
</nav>