<nav id="nav-top" class="navbar navbar-expand-md navbar-light top-nav <%= (local_assigns[:fixed_top].nil? || local_assigns[:fixed_top]) ? 'fixed-top' : 'navbar-static-top' %>" role="navigation">

  <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to(image_tag('logo-sm.png', class: '', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving"), { controller: "welcome", action: "index" }, class: "navbar-brand") %>

  <div class="collapse navbar-collapse" id="navbarToggler1">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? && current_user.is_eligible? %>
      <li class="nav-item">
        <%= link_to("Learn Online", { controller: "welcome", action: "index", anchor: "lessons" }, class: "nav-link") %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to("Recipes", { controller: "welcome", action: "index", anchor: "recipes" }, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("Videos", { controller: "welcome", action: "index", anchor: "videos" }, class: "nav-link") %>
      </li>
      <% if false %>
      <li class="nav-item">
        <%= link_to("Blog", { controller: "welcome", action: "index", anchor: "blog" }, class: "nav-link") %>
      </li>
      <% end %>

      <li class="nav-item">
        <%= link_to("Food Glossary", { controller: "glossary_terms", action: "index" }, class: "nav-link") %>
      </li>

    </ul>
    <ul class="navbar-nav">

      <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if params[:controller] == 'dashboard' %>">
            <%= link_to( fa_icon('user') + " My Profile" , { controller: "dashboard", action: "show" }, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Logout", "/logout", class: "nav-link mr-auto") %>
          </li>
      <% else %>
          <li class="nav-item ">
            <% link_to "Login", "javascript:void(0)", { class: "nav-link", onclick:"signin()" } %>
            <a class="nav-link" href="/login">Login/Signup</a>
          </li>
      <% end %>

      <%
      site_search_enabled = false;
      if site_search_enabled
      %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon 'search' %>
        </a>
        <div class="dropdown-menu search-box" aria-labelledby="navbarDropdownMenuLink">

          <form class="form-inline">

            <label class="sr-only" for="searchInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchInput" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </li>

      <% end %>


    </ul>

  </div>
</nav>