<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en">
  <head>
    <title>Foodtalk.org | Helping Georgians Eat Healthy & Get Moving!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid p-0 m-0">
      <div class="row no-gutters">
        <div class="col no-gutters">
          <%= yield :header %>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col no-gutters" id="content">
          <%= yield :content %>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col no-gutters">
          <%= yield :footer %>
        </div>
      </div>
    </div>
  </body>
</html>