<%
  #TODO: move into different layout files & choose which to use in controller
  #
  # https://stackoverflow.com/questions/3025784/rails-layouts-per-action/21203783#21203783
  #
  if action_name == :index.to_s
%>
  <% content_for :content do %>
      <%= render :partial => 'layouts/top-nav', :locals => { :fixed_top => true } %>
      <%= content_for?(:recipes_content) ? yield(:recipes_content) : yield %>
      <%= render :partial => 'layouts/footer', :locals => { :fixed_bottom => true } %>
  <% end %>
  <%= render template: 'layouts/application' %>
<% else %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en">
<head>
  <title>Foodtalk.org | Helping Georgians Eat Healthy & Get Moving!</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<%= render :partial => 'layouts/content' %>
</body>
</html>
<% end %>