<% content_for :header do %>
  <div class="d-block d-md-none fixed-top">
    <%= render partial: 'layouts/top-nav'%>
  </div>
  <%= render 'layouts/header' %>
<% end %>

<% content_for :content do %>
  <div class="d-none d-md-block sticky-top">
    <%= render partial: 'layouts/top-nav' %>
  </div>
  <%= yield %>
<% end %>

<% content_for :footer do %>
  <%= render 'layouts/footer' %>
<% end %>

<%= render template: 'layouts/application' %>