<% content_for :header do %>
  <div class="d-block d-md-none">
    <%= render partial: 'shared/top-nav' %>
  </div>

  <div class="d-none d-md-block">
    <%= render partial: 'shared/top-nav' %>
  </div>

  <%= render 'welcome/header' %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :footer do %>
  <%= render 'shared/footer' %>
<% end %>

<%= render template: 'layouts/application' %>